[2018-08-16 03:36] lyneca opened #536 "Dunst segfaults when notifications are sent from Firefox"
Steps to reproduce:
1. Go to [this website](http://www.bennish.net/web-notifications.html) in Firefox (my version is 61.0.2)
2. Hit the Show button with Dunst running

Interestingly enough, [this](https://developer.mozilla.org/en-US/docs/Web/API/notification) notification tester works fine. Might be a different protocol, or maybe the first is sending an invalid notification?

Here's the output of

[2018-08-16 03:37] lyneca commented on #536
Here is the output of `dbus-monitor path=/org/freedesktop/Notifications`:

[dunst_log.txt](https://github.com/dunst-project/dunst/files/2292343/dunst_log.txt)

[2018-08-16 03:53] lyneca commented on #536
Oh, when I rename my dunstrc, it works - looks like it's a problem on my end.

[2018-08-16 05:13] lyneca commented on #536
These are the lines to blame:
[code]

I think it crashes while trying to match the icon name with the enormous array that Firefox gives it.

[2018-08-16 08:17] bebehei commented on #536
@lyneca Thanks for your work and your thorough information. I can reproduce it.

I also found the problem: While a normal rule wouldn't match Bennish's notifications (as most of the rules set `appname`), the `battery_*` rules do not. Bennish's notification tester sends a raw icon. And for raw icons, there's an exception: If there is a raw icon `n->icon` is `NULL`. So `(!r->icon || !fnmatch(r->icon

[2018-08-16 08:26] bebehei commented on #536
@tsipinakis I'm fixing it right now and will fire a PR.

[2018-08-17 11:03] #536 closed

[2018-08-27 11:38] Strubbl opened #538 "Memory leak"
I had run my PC incl. dunst for about a weekend. After the weekend it was using about 17 GB of memory. Unfortunately the PC is currently not running anymore.

How can i help to find the memory leak?

### Installation info

- Version: `Dunst - A customizable and lightweight notification-daemon 1.3.2 (2018-05-06)` and also until at least 896c008def638d151517e02240f01d1198df09db
- Install type: `pacm

[2018-08-27 20:52] Strubbl commented on #538
History length seems to be ok:
[code]

I kept valgrind running for about 8 hours and it reached over 20 GB again. Here is the valgrind log of that session:
https://gist.github.com/Strubbl/13f1d3f4799fde853b62eb8d7746c421

I guess the process is getting this large memory footprint when i am away from the computer, which means i am not reading the dunst messages and they are kept.

[2018-08-27 20:59] bebehei commented on #538
@Strubbl Thanks for the output. Is this really everything?!? The valgrind log looks like it got truncated.

[2018-08-27 21:03] WhyNotHugo commented on #538
@Strubbl There's a link on top of the gist to the non-truncated version.

[2018-08-27 21:03] bebehei commented on #538
Oh sorry. Github gists don't display the whole file :see_no_evil:

Could you please paste your configuration, too?

[2018-08-27 22:41] Strubbl commented on #538
yes, my config is this one: https://gist.github.com/Strubbl/375e2551c1d82dcdba659995997dcf5d

[2018-08-28 13:49] kajzersoze opened #539 "Redraw problem"
I have a situatiuon where I download one image into one file and then use that image to display notification as icon, when I download some other image into the same file to display second notification, first notification gets redrawn with the image from the second.
That creates a problem for me.
Is it really necessary to redraw first notification if it's already displayed when drawing second notif

[2018-08-28 13:51] tsipinakis commented on #538
Ha! That's something I wouldn't have seen for a while since debian is still on 2.40.20.

I assume it's `librsvg`'s issue if downgrading fixes it. Best thing we could do now is try to make a test case and see how it leaks. @bebehei  since you have the problematic versions in  your package tracker (and compiling libraries is a pain) can you try out variations of the following program and see if it s

[2018-08-28 14:08] tsipinakis commented on #539
The problem isn't with redraws, those happen frequently and for many reasons (i.e. something obstructed dunsts window for a moment and X asks us to redraw, we need to re-sort the notifications as another one comes through etc). We opt to redraw the entire thing as the performance hit is minimal and it simplifies out code a lot.

---

The problem here can be immediately solved by using raw icons. I

[2018-08-28 14:28] kajzersoze commented on #539
Wasn't using `dunstify` but now I did, `-I` flag solved the problem I was having.

Thank you very much !

[2018-08-28 14:28] #539 closed

[2018-08-28 15:37] bebehei commented on #538
Created an [upstream bugreport](https://gitlab.gnome.org/GNOME/librsvg/issues/325) and also [a reproducer](https://gitlab.gnome.org/bebehei/memleak-testproj).

[2018-08-28 15:42] Strubbl commented on #538
Thank you very much for your investigation.

[2018-08-29 06:34] tsipinakis commented on #538
This should be solved with librsvg 2.44.1.

[2018-08-29 06:34] #538 closed

[2018-08-29 17:41] Strubbl commented on #538
the upstream bug was reopened and it should really be solved with 2.44.2 now

[2018-08-31 10:14] bebehei commented on #536
@tsipinakis What about releasing the fix from #537 as another patch release?

[2018-09-02 09:06] tsipinakis commented on #536
I'd say it's better to aim to relase `1.4` at the end of september with what we can manage to implement from the milestone in that time. There's been quite a few changes since the previous release.

[2018-09-04 15:25] eadmund opened #540 "dunst does not display JPEG icons without a filename extension"
`dunst` correctly displays icons from files whose names end in '.jpeg' or '.jpg,' but it does _not_ display them when they do not.

To reproduce:

[code]

### Installation info

- Version: `v1.3.2-143-g896c008`
- Install type: `manually`
- Distro and version: `Debian 9 (stretch)`

[2018-09-04 15:34] tsipinakis commented on #540
I cannot reproduce this on debian buster. I have a feeling this is something to do with `gdk-pixbuf` which we use to load icons.

Perhaps in the version that's in stretch it only looks at the extension? I will set up a stretch VM later this week to test.

[2018-09-04 17:42] bebehei commented on #540
I can't reproduce it either. And I've tested it on Xenial, trusty and bionic now.

- What's your gdb pixbuf version?
- What does `gdk-pixbuf-query-loaders` spit out on your system? (Watch out, this program spits out much stuff. I'm only interested in the lines for the jpeg loader!)

@eadmund And to rule out a possible misbehavior[0] of dunst: How have you tested it? Have you executed any `mv` call

[2018-09-04 21:38] qsuscs commented on #77
I found this issue while searching for a solution, so for future reference, have mine:
[code]

This will watch events from XScreensaver and pause and resume dunst, and log so to syslog.  Add and/or remove features (and quotes, because shell) as you please, don’t blame if it sets your house on fire. I don’t know (yet) what happens if XScreensaver exits, so you’ll maybe also need an enterprise loop

[2018-09-05 05:10] tsipinakis commented on #77
Thanks for the update, always appreciated!

There has been an attempt at fixing this directly - or, at least, improve the situation (see #160) and will be included in the next release.

[2018-09-05 13:12] eadmund commented on #540
Looks like `gdk-pixbuf` is at 2.36.5-2+deb9u2

I get this from `gdk-pixbuf-query-loaders`:

[code]

I ran `dunst`, then used both `notify-send` and D-Bus directly to send notifications, using different JPEG files, with & without `.jpeg`/.`jpg`. I did not move any files in between sending the notification and seeing it drawn. I _did_ confirm that a file missing the final `.jpeg` works _with_ it (so

[2018-09-05 14:03] bebehei commented on #540
@eadmund Thanks for the answer. Sadly nothing, which enlightens me.

I've written a small helper here: https://gist.github.com/bebehei/d1248deab8199ea93d877fdf126be588

Could you please clone the gist, build it and then run `./gdkpb <whateverfile>` with files both recognized by dunst and not recognized? Thanks in advance.

PS: You may need to install `libgdk-pixbuf2.0-dev` for compilation.

[2018-09-06 10:27] bebehei commented on #301
I'm sorry. I assigned this issue to myself almost a year ago, but I only understood today, your actual intent.

I have to be honest, but I think your quest should be solved differently than described.

We don't keep track of any order between notifications themselves. The notifications are either unsorted and pushed to the end or via `urgency/id` and how it's actually made is up to the queue.

IMO

[2018-09-06 10:41] tsipinakis commented on #473
I took a stab at this, it's not as straight-forward as it looks. in the `option_parser` and `notification` suite we depend on loading different configurations (read: global variables). It's easy to do in `greatest`, load it when you start the suite and free it after, but with glib we can only queue the tests and they are run at the end (maybe randomly) and as a result we have to add the init/deini

[2018-09-06 10:51] tsipinakis commented on #301
Unless I am misunderstanding the issue what's being requested is a strictly chronological sort, which I believe we can do. We already have the option to sort by urgency and store the arrival time in the `timestamp` field anyway. Adding an option to change the comparison from priority to the timestamp should be doable (albeit with some refactoring).

[2018-09-06 12:11] meribold commented on #301
Yeah, that's what I meant.

[2018-09-06 13:51] eadmund commented on #540
[code]

It's weird, isn't it?

[2018-09-06 22:44] bebehei commented on #540
Well, that's interesting. Some things have gone south somewhere.

So, the only thing, which still could help and give some clues: a logfile.

Could you please run `dunst -print -verbosity info`. Fire the notification and send the log?

[2018-09-10 18:45] bebehei commented on #473
Sorry, but I fail to see your point. A few thoughts:

- Why is it actually necessary to init/deinit for every test? Yeah, the order is undefined (which is IMHO good). But shouldn't the file reading be part of the test suite initialisation method? The `option_get*` methods aren't designed to modify anything!?
- AFAIK you can run the GLib tests in separate processes. We could do it this way, so we d

[2018-09-10 18:59] eadmund commented on #540
Here you go. `notify-send --icon ~/image foobar door` yields:

[code]

My only other guess is that the image in question is quite large (512×512). Maybe dunst (or the library it's using) doesn't know how to scale it?

[2018-09-10 19:00] bebehei commented on #540
Would you bother to upload the image here!? That would be the necessary reproducer to fix it. Thanks for your reply.

[2018-09-10 19:33] bebehei commented on #473
Ok, so we have to init/deinit. That's ok. What about simple macros for test start and end?

[code]

[code]

[2018-09-10 19:55] bebehei commented on #301
The queues aren't sorted by timestamp at any point. It's just that while you have `sort = no` or notifications with the same urgency, the insertion order of notifications is the same as if the queues would have been sorted by timestamps.

But at the point, when moving notifications back from history into displayed, this isn't the case anymore.

To sort the notifications by timestamp while redispla

[2018-09-10 19:57] bebehei commented on #301
Wait. is this issue all about making `sort` an enum and supporting `sort = time` !?

[2018-09-11 02:43] eadmund commented on #540
Unfortunately, it's a portrait of a friend, so I don't feel comfortable sharing it. I'll see if I can get a working test case on a similar picture.

[2018-09-11 02:53] eadmund commented on #540
So, I have a working version, made by scaling http://repo.or.cz/cl-notify.git/blob/HEAD:/lisplogo_warning_128.png up with `convert lisplogo_warning_128.png -resize 512x512 /tmp/qqq.jpg`, but for some reason GitHub refuses to let me upload it. When I run `notify-send --icon /tmp/qqq.jpg baz quux` or `notify-send --icon /tmp/qqq baz quux`, I get a large `dunst` pop-up with no icon (since it happens

[2018-09-11 02:56] eadmund commented on #540
Try this: https://github.com/eadmund/dunst/blob/test-image/qqq.jpeg

[2018-09-11 06:00] hamidsafdari opened #543 "Add option to enable a gap between the icon and the notification text"
The current implementation doesn't seem to have an option to specify some gap between the icon and the notification text. I can set a vertical/horizontal padding but all they do is create space for the overall notification. I don't want any padding around the icon but only between the text and the icon. It would also be nice if the same padding would be applied when there is no icon found.

### In

[2018-09-11 12:03] bebehei commented on #540
I can't reproduce it either on an up to date Debian Stretch machine with the default config and dunst built from master and [your given image](https://github.com/eadmund/dunst/blob/8d13595950f83a23bc469c7202f646f440bc0c0c/qqq.jpeg).

[2018-09-12 11:06] Kopsi commented on #336
Is there an ETA for this feature?

[2018-09-12 11:08] bebehei commented on #336
@kopsi ETA?

[2018-09-12 11:12] tsipinakis commented on #336
@Kopsi Not currently, we're still in the refactoring stage. But the usual open-source mantra applies, anyone is welcome to implement this if they want to see it merged sooner.

[2018-09-12 11:13] Kopsi commented on #336
Thanks for the answer. Sadly I lack the skill for such an implementation.

[2018-09-13 14:45] raspbeguy commented on #216
I think the easiest way that wouldn't cause any regression (and IMHO the most UNIX-compliant one) would be to keep the status written in a file, for instance `/tmp/dunst-status`, with the same idea than what you can find in `/sys` or `/proc`. A single `cat` to this file would give the required information.

[2018-09-13 15:06] raspbeguy commented on #216
Or it could throw an info text (easily parseable) when you send a `SIGINFO`. Could be handier.

[2018-09-13 18:21] kajzersoze opened #546 "Format of the message color issue"
There seems to be a problem with markup, I'm not sure where exactly is the problem, idea was to have separate colors for title and the body of the notification. I came up with this in the config file

`format = "<b><span foreground='#fcaf3e'>%s</span></b>\n%b"`

it works fine, however sometimes I did notice one problem with it but I didn't care enough to bother with it until now, problem is that i

[2018-09-13 18:41] tsipinakis commented on #546
The color issue is happening because, from dunsts perspective, you're sending an invalid notification, so the markup parsing fails and we fall back to stripping it off and displaying it in plain text as best as we can. (There should be an error in stdout)

If you have `markup` enabled in the config, it's the responsibility of the client to send us properly escaped text. The correct way to do this

[2018-09-13 18:54] kajzersoze commented on #546
I see, thanks for the explanation.

Until (and if) it lands in the dunst code I'll try to escape it in the code I'm using.

It's not a big thing but I thought I should report it anyway.

[2018-09-13 18:57] tsipinakis commented on #546
If you do not care about markup in the summary/body of the notifications, setting `markup = no` in the config would resolve your issue without escaping it. (Obviously markup inside `format` still gets processed.)

[2018-09-13 19:13] kajzersoze commented on #546
Resolved indeed, I had `markup = full` previously.

I'll leave closing of this issue to you then, since it's marked as a bug.

[2018-09-14 13:47] #431 closed

[2018-09-14 13:47] #467 closed

[2018-09-17 08:45] knopwob commented on #540
I think I can reproduce the issue.

[dunstrc](https://gist.github.com/knopwob/c0bcc51207ed8a29e812c8c386f64267)

`notify-send --icon $(readlink -f qqq) test blub`

The icon is displayed when `icon_position` is set to `left` but not when set to `right`

[2018-09-17 09:02] knopwob commented on #540
in draw.c:
`static void render_content(cairo_t *c, colored_layout *cl, int width)
{
    [...]
        if (cl->icon) {
                unsigned int image_width = cairo_image_surface_get_width(cl->icon),
                             image_height = cairo_image_surface_get_height(cl->icon),
                             image_x,
                             image_y = settings.padding + h/2 - image_heig

[2018-09-17 09:50] bebehei commented on #540
@knopwob Wow. Thanks. Obviously a bug worth fixing!

[2018-09-17 11:36] knopwob commented on #540
actually the layout is broken with `icon_position = left` as well. The icon takes up the whole window.

I think the best solution would be to scale the image down to a reasonable size when we have a fixed width or height.

[2018-09-18 03:50] eadmund commented on #540
Awesome job finding this guys, thanks much.

[2018-09-18 06:12] bebehei commented on #540
@eadmund Does the PR #548 fix the behavior you reported?

[2018-09-18 11:31] kajzersoze commented on #546
Actually I had to go back to `markup = full`
It's better to have mentioned color problem but with escaping.

[2018-09-20 08:59] eadmund commented on #540
It does. Thanks so much for the quick response, guys. Sounds like it was more than a little tricky to find.

[2018-09-24 12:55] #483 closed

[2018-09-25 11:45] bebehei commented on #473
I fucked up #541 and I have to fix it. But I guess, writing tests for `queues.c` first might be the best choice.

But before writing tests, I want to settle down, on which tool to use. So, what's your conclusion on here?

[2018-09-25 12:32] tsipinakis commented on #473
Unless you're planning on using glib-specific test calls, work with greatest and I'll migrate that as well when I come back to it.

[2018-10-10 14:49] #456 closed

[2018-10-22 18:06] tsipinakis commented on #159
#552 Attempts to implement this hint. Is anyone (still) using dunst with the default ubuntu shell such as this hint would be useful?

As I mentioned in [my comment](https://github.com/dunst-project/dunst/pull/552#issuecomment-431917332) I tried setting dunst up in ubuntu but `gnome-shell` grabs the notification address and couldn't figure out how to disable it.

[2018-10-22 19:04] blueyed commented on #159
@tsipinakis
I am not using Ubuntu myself anymore.

[2018-10-23 04:38] benjamin-thomas commented on #284
Hello, I'd love to be able to close notifications via the command line. Not globally but targeted by a specific ID or text content.

As a power user tool, I think it'd make perfect sense.

Would you be willing to consider that use case?

I've been trying to find a workaround, but it seems pretty undoable at the moment.

Unless I'm mistaken the dunst process opens a unique window upon which not muc

[2018-10-23 11:53] tsipinakis commented on #284
You can already target ids with dunstifys `--close=ID` flag.

That said, I'd be interested to know the use case for this. It could be done once all this is implemented if it's useful in some way.

[2018-10-23 16:39] benjamin-thomas commented on #284
Excellent! Thanks!!

My use case is a bit out of the ordinary I confess.

I've implemented a couple of scripts to handle my daily routine (too much on my plate), and not satisfied with existing programs.

1. An interactive CLI wrapper around [this time tracker tool](https://github.com/larose/utt) + hacking it's output
2. [An sqlite backed "reminder app"](https://github.com/benjamin-thomas/reminder

[2018-10-23 17:57] tsipinakis commented on #284
Going a bit off topic - but I took a quick glance at your program and you'd probably benefit from using a proper libnotify implementation rather than (ab)using `system()`, quick googling found [this](https://github.com/splattael/libnotify) but there's bound to be more.

From that libraries docs for example, you can directly update notifications and clone them via simply `n.close`.

[2018-10-23 18:47] benjamin-thomas commented on #284
Thanks for the heads up!

I didn't realize that abstraction was available, sorry for the noise!

[2018-10-24 20:15] gnowxilef opened #553 "do not display notifications when screensaver/lock is on or when app is in full screen mode"
this might be expected behavior (or possibly configurable?), but it would be great to support this

### Installation info

- Version: `Dunst - A customizable and lightweight notification-daemon 1.3.0 (2018-01-05)`
- Install type: `package`
- Distro and version: `ubuntu 18.04.1 LTS`

[2018-10-24 20:20] gnowxilef commented on #553
oh, just found the closed issues about this. do you know if the state querying with `i3lock` works?

[2018-10-25 11:04] gnowxilef commented on #553
ah yeah, sorry about that.

https://github.com/dunst-project/dunst/issues/77#issuecomment-11372069 says that xscreensaver does not use X11 extensions for setting the screensaver state. i was wondering if i3lock does that and whether dunst respects that.

[2018-10-25 11:09] bebehei commented on #553
Well, #77 is so old, I wouldn't bother to read it :wink:

Do you experience problems? Because usually these type of problems are solved in i3lock.

[2018-10-25 17:43] gnowxilef commented on #553
yeah, when i3lock is on, dunst still shows notifications over it.

[2018-10-25 18:00] bebehei commented on #553
Tell me more. Which i3lock version? Reproducible behavior? desktop i3wm?

[2018-10-25 19:36] GloverDonovan commented on #357
For [**pywal**](https://github.com/dylanaraps/pywal) users: I solved this problem by [writing](https://github.com/GloverDonovan/dotfiles/blob/eff7623a9a2e9c7ccedb2c95a1730ac4d523ed9c/wal/.config/wal/templates/dunstrc) my `dunstrc` as a [user template file](https://github.com/dylanaraps/pywal/wiki/User-Template-Files) and [symlinking](https://github.com/GloverDonovan/dotfiles/blob/eff7623a9a2e9c7cc

[2018-10-26 15:10] gnowxilef commented on #553
sure, i can do both.

i3lock version: `i3lock: version 2.10 (2017-11-25) © 2010 Michael Stapelberg`
yep, always happens
yes, desktop i3wm.

[2018-10-26 16:38] bebehei commented on #553
@gnowxilef And does building dunst from master and running it help you, like @tsipinakis said?

[code]

[2018-10-29 14:10] gnowxilef commented on #553
the latest master seems to fix the issue for fullscreen mode, but still displays over `i3lock`.

[2018-10-29 17:40] bebehei commented on #553
Sorry, I can't reproduce it. I've tested it in my Ubuntu 18.04 VM, installed i3, i3lock and dunst. The notification does flicker shortly. But i3lock takes control (it probably receives an `XVisibilityEvent`) and redraws its own window.

The whole thing happens in less than 50ms.

I can't reproduce it. Could you please deliver a reproducer? Otherwise, I can't help you.

[2018-10-29 21:04] gnowxilef commented on #553
what do you mean by "deliver a reproducer"? what do you want specifically?

[2018-10-29 21:06] bebehei commented on #553
I just need some kind of information how I can reliably reproduce it on **my system**.

[2018-10-30 10:49] progandy commented on #553
It seems that i3lock doesn't redraw on top of the notifications if a composition manager like compton is active (at least in glx mode, I did not try xrender). I never noticed that since I pause dunst notifications with SIGUSR1/2.

My steps were: Start an i3 session, start compton, start i3lock, sleep a bit and send a notification.

[2018-10-30 11:06] bebehei commented on #553
@progandy Yeah, I can reproduce it now! Thank you very much!

The question is now: Is it dunst's or i3lock's issue?

[2018-10-30 11:12] gnowxilef commented on #553
ah yes, i use compton as well.

[2018-10-30 11:14] progandy commented on #553
That is probably i3lock. For some reason it doesn't raise itself if a compositor is enabled. Try this:

    i3lock ; sleep 1; dunstify test; sleep 1; xdotool search --name '^i3lock' windowraise

[2018-10-30 16:55] progandy commented on #553
The readme and code from [xsecurelock](https://github.com/google/xsecurelock) make for intersting reading. To hide notifications with a compositor, i3lock probably needs proper compositing support and not that half-baked thing that was reverted.

[2018-10-30 17:55] WhyNotHugo commented on #553
Is the fullscreen behaviour configurable though? While I agree it makes sense to hide notifications when `i3lock` is running, I'd rather keep notifications around when running fullscreen apps (which is kinda 90% of the time for me).

[2018-10-30 18:16] bebehei commented on #553
@WhyNotHugo The fullscreen behavior is something completely different. But it's implemented in #472 and on current master. Search for `fullscreen` in the dunstrc for more information.

[2018-11-01 20:00] PhilHudson opened #557 "Howto"
Your README gives no examples of how to use dunst. You might think that's an absurd thing to say, but... go and have a look. Imagine you're a complete newbie, only barely aware that there are such things as daemons. How do you interact with dunst?

By trying it I've found that, as I suspected, my scripts' calls to `notify-send` would now use dunst, but... you don't actually explicitly say that any

[2018-11-03 21:30] concatime commented on #264
Any news on this thread?

[2018-11-03 22:42] emersion commented on #264
@concatime If you want a Dunst replacement for Sway, you can try https://github.com/emersion/mako

[2018-11-04 06:47] tsipinakis commented on #264
@concatime Since none of the current maintainers (me and @bebehei ) actively use wayland we are waiting for someone that does to step up and implement this properly.

If anyone wants to work on this feel free to ping me for guidance or for any questions.

[2018-11-05 14:58] DamienCassou opened #559 "2 instances running"
I'm using tools that send notifications in 2 different a ways:

- a tool uses dbus (session bus, `/org/freedesktop/Notifications`, `Notify()`): this starts an instance of `/usr/bin/dunst` that is a child process of the root process: `/usr/lib/systemd/systemd --switched-root --system --deserialize 33`
- another tool uses libnotify (`notify_notification_show()`): this starts another instance of `/us

[2018-11-05 15:49] bebehei commented on #559
If you've got two instances running, you've got probably two DBus instances running, of which both have a single dunst instance.

[2018-11-05 16:16] WhyNotHugo commented on #559
Are you sure the first instance you mention uses the system bus for your own user, and not the session bus for root?

[2018-11-05 16:23] bebehei commented on #559
Oh, well, there is one important thing: Which variables are set. Is `DISPLAY` set and is `DBUS_SESSION_BUS_ADDRESS` set?

If there is only DISPLAY set (and not the session address), `notify-send` (and maybe `notify_notification_show()` too) do spawn a complete new dbus instance.

[2018-11-05 18:52] DamienCassou commented on #559
I'm confused here. I thought (and [Wikipedia confirms](https://en.wikipedia.org/wiki/D-Bus#Overview)) that there should only be one *system* bus and several *session* buses (at least one per connected user). Am I understanding something wrong?

You might yourself have been confused by my wording of "a child process of the root process". What I meant by that is that the parent process of `/usr/bin/

[2018-11-05 19:11] DamienCassou commented on #559
the first tool runs within this environment:

[code]

The second tool itself runs within a Systemd service unit which has this environment:

[code]

[2018-11-06 19:02] tsipinakis commented on #473
@bebehei What's broken exactly? I don't want to delay 1.4 for a lot longer given the amount of changes currently in master, so can it wait for 1.5 or not?

[2018-11-06 19:04] #546 closed

[2018-11-06 19:39] bebehei commented on #473
When you use fullscreen rules and have a fullscreen window. In some cases, unrelated notifications get inserted into displayed queue, too. I don't know the full details yet. And I actually want to start and write tests for this. But first, I have to add general tests for `queues.c`. (See #551). I'll finish this at the end of the week.

[2018-11-08 17:33] bebehei commented on #557
Oh yeah, we could improve heavily. But I'm afraid, writing docs is a hard topic.

But I for myself, never had to access the webpage to start dunst. I've got everything from [the ArchWiki page](https://wiki.archlinux.org/index.php/Dunst). It's not that much, but it was enough to get started.

It would be great, if someone could come up and write "Getting Started" tutorial.

Related #507

[2018-11-08 17:34] bebehei commented on #553
So guys, can somebody please go on and upstream this to the correct repository?

[2018-11-08 18:03] progandy commented on #553
As far as I can see, i3lock will just close the issue unless you come with a complete fix in a pull request.

https://github.com/i3/i3lock/issues/130#issuecomment-307741053
https://github.com/i3/i3lock/issues/152

[2018-11-08 20:51] PhilHudson commented on #557
Thanks for the replies. Thought I should flag it up. I'm content if
you want to close this issue now (though I kind of hope you'll keep it
open).

--
Phil Hudson                  http://hudson-it.ddns.net
Pretty Good Privacy (PGP) ID: 0x4E482F85

[2018-11-11 17:56] tsipinakis commented on #384
#552 Was just merged which satisfies the use case mentioned so I'll close this. If `hide_duplicate_count` is still needed for some reason feel free to comment here and I'll re-open it.

[2018-11-11 17:56] #384 closed

[2018-11-11 18:31] bebehei commented on #159
Fixed in #552

[2018-11-11 18:31] #159 closed

[2018-11-11 18:36] bebehei commented on #321
Stacking is now possible with the stack_tag feature implemented in #552.

Send a hint with `notify-send --hint=string:x-dunst-stack-tag:test SUMMARY BODY`. And all notifications with the stack tag `test` get stacked on top of each other.

You can have whatever stack tags you want. Common stack tags are `volume` and many more.

[2018-11-11 18:36] #321 closed

[2018-11-12 06:39] Anachron commented on #321
Thank you so much!

[2018-11-21 05:52] ubone commented on #264
dunst works for weston, sway and wayfire [dunstrc](https://gist.github.com/ubone/e17d6be51d5c0cf36af0d364b3846511)

[2018-11-21 10:37] bebehei commented on #445
I started work on it: https://github.com/bebehei/dunst/tree/dunstcmd

`dunstcmd status` is already working in a preliminar form.

[2018-11-23 14:32] genofire commented on #234
Are there any new informations?
I found `dunstify -A yes,ACCEPT -A no,DECLINE "Call waiting"` which works (a little bit ugly - but better then nothing)

[2018-11-24 12:16] existme opened #563 "Dunst doesn't respect `-r` (replace) anymore"
I have fetched the latest version of Dunst today and built it. It seems that the replace functionality is not working anymore although it was working before perfectly.

[code]
It seems that it no longer replaces the previous id and my volume notifications are stacking up on top of each other. As it's showed in the snippet every time it runs, A new id is generated and doesn't respect the `-r $id` a

[2018-11-24 12:35] bebehei commented on #563
The fix is already included in #551. So before release we'll have this fixed.

But anyway, while you're here, checkout the stack_tag feature, which is much nicer than a random ID, which actually doesn't exist.

[2018-11-24 16:19] existme commented on #563
Thank you for the quick feedback. However, I find documentation regarding `stack_tag`.
I have added this section to `dunstrc`:
[code]
Is this enough, what would be the other benefits of such feature? or it's just a way for replacing random ids as you said.

[2018-11-26 09:50] #563 closed

[2018-11-26 12:11] bebehei opened #565 "Move CI to CircleCI"
I'd love to move to CircleCI.

- It offers docker container support, so there is no installation process necessary during build.
- You can test indefinitely many distros.
- You can create workflows, with dependencies.
- The current workflow in its current incarnation, is as fast as Travis, **but runs on much more Distros**.
- It's much faster giving negative results (because it tests on a single d

[2018-11-26 12:33] bebehei commented on #565
Oh, well I have to revise myself: [They have updated the beta version a few days ago and Ubuntu 16.04 is now broadly available](https://github.com/travis-ci/travis-ci/issues/5821#issuecomment-440899016). But still it's two and a half years since xenial came out!? They're "super pleased to announce" an old distro. And I guess, they have to replace it because their main distro will reach End of Life

[2018-11-26 14:13] tsipinakis commented on #563
@existme There's not much documentation on it, you're right, but that example is pretty much it: Notifications with the same tag replace each-other. As you said, it's intended to resolve this exact usecase without using random ids that can potentially conflict with other notifications.

[2018-11-27 12:50] tsipinakis commented on #565
No objections here, maybe have both running for a while see which fairs better.

[2018-11-30 09:40] existme commented on #563
Thanks @tsipinakis for the clarification.

[2018-12-01 04:57] infokiller opened #570 "Feature request: support XDG Icon Theme Specification"
AFAIK, right now the only way to specify icons is using the `icon_path` configuration option, which requires to explicitly list the icon directories. This causes the following issues:
1. If you want to use icons from multiple subdirectories, you have to make dunst aware of the subdirectories. For example, to use icons from the `apps`, `devices`, and `places` subdirectories under `/usr/share/icons/

[2018-12-01 05:11] infokiller commented on #570
Duplicate of #157

[2018-12-01 05:11] #570 closed

[2018-12-01 10:03] bebehei commented on #570
Actually, I'd love to see a PR for this! My personal attempts all failed and I've got no time for this now.

So, if you're interested in it, please start with a PR.

[2018-12-01 12:33] infokiller opened #571 "Duplicate notifications from kdeconnect not merged"
I'm using kdeconnect to get notifications from my phone to my desktop. For some reason, only the notifications for calls are no deduped by dunst. Some debugging data:
- [Output of `dunst -p`](https://gist.github.com/infokiller/407c6a24c4ca5657c9f5b69a596ae3bb)
- [Output of `dbus-monitor path=/org/freedesktop/Notifications`](https://gist.github.com/infokiller/407c6a24c4ca5657c9f5b69a596ae3bb)- note

[2018-12-01 12:35] infokiller commented on #571
OK, looking at the code I see that notifications with raw icons are never considered duplicates: https://github.com/dunst-project/dunst/blob/master/src/notification.c#L180

I'll look into adding a configuration option to disable this behavior.

[2018-12-01 12:42] bebehei commented on #571
No, we won't merge a new option for this. There are a few other ways possible to achieve this:

- Either assign a `stack_tag` to your notification (this got merged just recently, install `dunst-git` from AUR for this).
- Or - if you want to have an implementation feature - implement a comparison, which compares two raw images. Implementation wise, this may be hard. I won't write the code, but I'd

[2018-12-01 12:46] infokiller commented on #571
Thanks for the quick response!
Unfortunately I don't control these notifications, so I can't add a `stack_tag` directly. Is there something I'm missing?

Re implementing image comparison- is it not just a raw byte-to-byte comparison?
Another option would be to consider the raw icons equal only if the're the same size and have N same bytes (to avoid a full comparison where the images can be large).

[2018-12-01 13:03] bebehei commented on #571
You've got rules. One of the key features of dunst. :grin:

[code]

And automatically all notifications from kdeconnect with the specified body will get merged together.

That's just a small mockup. rules can do much more. **But install dunst-git first, change the config and restart dunst then (`killall dunst` and then send a notification, it'll get started automatically).**

I don't think this wo

[2018-12-01 14:51] infokiller commented on #571
Thanks a lot!
I don't think the rule you suggested is sufficient, because the notification body will be different for each caller- 'Incoming call from X' where X is the contact name. I could use `body = Incoming call from *`, but then if I get consecutive notifications from different callers they will be incorrectly considered as duplicates, right?

Hmm, yeah I thought the image sizes may be over

[2018-12-01 15:06] tsipinakis commented on #571
That's correct, that should work just fine.

I'd definitely want to see this implemented. Pure speculation without looking at all into possible implementations, a simple memcmp could work, or maybe hash the data to avoid comparing the entire thing every time.

[2018-12-01 15:32] bebehei commented on #571
I'd go with @progandy's solution. If I recall it correctly: There's just a little problem you might have to work out: Not the whole bytestring might be initialised. So a plain hash over the whole image bytes might not work out, because there might be uninitialised memory.

[2018-12-01 15:38] infokiller commented on #571
@tsipinakis IIUC `body = Incoming call from *` (along with `set_stack_tag`) is problematic because it will cause notifications from different callers to be merged, right?

@tsipinakis @progandy
How will hashing the image data help here?
I mean, computing the hashes will still require to read all the data of both images. Am I missing something?

[2018-12-01 15:47] bebehei commented on #571
Yeah, but notifications aren't just compared once. On every notification, the whole waiting queue and displayed notifications will get compared to the incoming notification. And not hashing the data would require to read the data over and over again.

[2018-12-01 15:48] infokiller commented on #571
Got it, thanks!

[2018-12-02 09:32] catzybluphish opened #572 "What's the deal with &?"
When Dunst appears for Spotify to show the current song, artist, etc. if it contains a "&" in any of the text, it'll show the following error:
![2018-12-02-192412_960x530_scrot](https://user-images.githubusercontent.com/40843060/49337986-f9559500-f667-11e8-9d66-8c3ef848bbe3.png)
Not sure what it means and I've read the man page where it addresses it a bit.
How it affects the notification is that i

[2018-12-02 09:37] tsipinakis commented on #572
Duplicate of #546.

Try building from source, it should mostly work as intended now.

[2018-12-02 09:37] #572 closed

[2018-12-02 13:37] #565 closed

[2018-12-03 03:19] smvoss commented on #557
Came here because of the arch wiki, it specifically calls out:

https://wiki.archlinux.org/index.php/Dunst

After digging around here, I got it setup with systemd but I was thrown way down the wrong path. Would have been nice to have a bit of docs so I could tell easier that I did have to actually run it.

[2018-12-03 03:52] WhyNotHugo commented on #557
@smvoss What extra steps did you have to take? If properly installed, generally, no extra steps need to be taken (I know I just installed the package on arch, and suddenly "it worked").

[2018-12-03 09:17] bebehei commented on #557
@smvoss Could you please do me a favor and do post the output of `grep -r org.freedesktop.Notifications /usr/share/dbus-1/services` and also of `find /usr/share/dbus-1/services | egrep 'dunst|Notifications'` ?

In the service lookup, there are some weird undefined behaviors.

[2018-12-05 05:31] catzybluphish opened #573 "How can you make the dunst window transparent and exclude the text"
When I set the `transparency = x` it'll make the entire window transparent which includes the text, borders, images, etc. Of course, I only wanted the background of the window to be transparent but don't know how. I've tried setting the `frame_color = #ff00ff00` to have opaque alpha but that didn't work either.  I'm using Arch, bspwm and compton. [Current config](https://pastebin.com/ypsigHsx).
![

[2018-12-06 23:56] Narrat commented on #557
But as already written, writing doc is not an easy task :D
Depending on your personal setup (full DE or just WM + some extras) make a huge difference. Especially if someone has a full custom xinitrc in use, where the include to ```/etc/X11/xinitrc.d/``` is missing (e.g. no import of DISPLAY, which can cause issues with the notification-daemon in use) or outdated calls for starting the wm still the

[2018-12-07 02:09] bebehei commented on #557
During the last years, I've learnt that useful software is actually a big chain of 'and' connections. You could have written the most sophisticated code, but it won't move you forward if the targeted users don't understand it.

And one possibility to fight this is simply documentation. And here at this project, we never had more than a superbig manpage (albeit big, it's not always useful).

So, I'

[2018-12-07 02:33] bebehei commented on #557
.... ups hit enter too early ....

----

And this website should cover all about starting techniques, configuration options, tips and tricks, in case of error, etc.

Content-wise, this wouldn't be a problem for me. It would just be a bunch of work documenting everything, but as a profit it would solve exactly this last 'and' concatenation mentioned above.

But my main problem is, I have to start f

[2018-12-07 05:45] smvoss commented on #557
Sorry, I will get more info but I haven't been at my pc.

My opinion is simple, Rome wasnt built in a day.

I think just a simple example of a full DE setup and an example of a minimal WM setup would be a nice step forward. Don't need huge doc frameworks etc, a small start at the bottom of the read me would work.

Hell, toss it in the arch wiki and give a link back to it.

[2018-12-08 17:36] patrick-motard opened #574 "using environment variables in ~/.config/dunstrc"
I would like to set colors of notifications based on environment variables. Instead of:

`~/.config/dunst/dunstrc`:
[code]

I would like to do:

`~/.config/dunst/dunstrc`:
[code]

Set these environment variables in `~/.profile`, or whichever file is sourced that sets environment variables that can be picked up by dunst.

`~/.profile`:
[code]

So that when I load dunst via `~/.config/i3/config
[cod

[2018-12-08 17:40] tsipinakis commented on #574
As you may have guessed this is not currently possible and I'm not sure about implementing it.

However, have you looked into the contrib directory? We have [a script that generates a `dunstrc` from Xresource values, you could either use that or somehow adapt it

[2018-12-08 18:08] patrick-motard commented on #574
@tsipinakis I was not aware of that script. I ran it and swapped the file it created for the original file and it changed dunsts colors, which is helpful. After a quick read through it I do not understand what values it expects to read from Xresources when determining which settings to overwrite. I will continue to read it until it makes sense.

I wish that dunst either supported environment varia

[2018-12-09 01:58] bebehei commented on #574
Well, for simple variable substitution, you could use simply the `envsubst` command:

[code]

[2018-12-10 20:38] patrick-motard commented on #574
@bebehei wow I had no idea that existed. That's amazing! Thank you for that suggestion!

[2018-12-11 20:22] xPMo opened #575 "dunstify with --action won't print action chosen"
Dunstify indefinitely hangs, even after killing dunst.

Running `dbus-monitor path=/org/freedesktop/Notifications | ts "[%T]"`, then calling `dunstify --action=test,test test`, choosing the option, dismissing the notification, then bringing up the notification again from history and choosing the option again.
[code]

### Installation info

- Version: `Dunst - A customizable and lightweight notific

[2018-12-12 11:08] tsipinakis commented on #575
I'm not sure I understand how to reproduce this. Once I close the notification either by dismissing it or by selecting an action dunstify exits as intended.

This is not possible on `master` by the way, once a notification is closed it's assumed that the client has stopped listening (which most do) so we don't allow to re-send them.

[2018-12-12 12:01] xPMo commented on #575
I cloned, `make`, `make dunstify` and ran master, but it still hangs after I dismiss it.

I `make debug`d, and ran the same thing I did before (launch action notification, activated it, dismissed it, brought it up and activated it again). It seems as if it does assume the client has stopped listening, like you said.
Here is `./dunst -verbosity debug`, timestamped:

[code]

[2018-12-12 12:19] xPMo commented on #575
Okay, I rebooted and the issue went away.  In case this does crop up again for me, any suggestions?

[2018-12-12 12:49] bebehei commented on #575
[code]

Do you have your `dmenu` command setup properly?

[2018-12-12 15:06] xPMo commented on #575
I had the problem both for stock dmenu (default dunstrc), and for my preferred `dmenu = /usr/bin/rofi -dmenu -p Action:`

[2018-12-12 18:48] bebehei commented on #575
From the `dbus-monitor` log, I don't see any issues with the dunst daemon. The daemon did everything right.

I'd suggest closing this issue. It may have been a weird issue with some libraries occuring during an update. Depending on your host's uptime and pacman upgrades, this might be reasonable.

I cannot reproduce it either. But if it happens to you ever again, reopen this bug. And if possible,

[2018-12-13 01:51] vzaliva commented on #505
`notify-send DUNST_COMMAND_PAUSE` did it for me. Thanks!

[2018-12-19 01:40] ZakharEl commented on #264
Tsipinakis' refactor-outputs branch works in sway with correct positioning of the notifications but the keybindings still don't work. Thanks for the hard work Tsipinakis.

[2018-12-19 01:54] bebehei commented on #264
@ZakharEl Nice to hear this. I'm working currently on a `dunstcmd` command client. I haven't implemented a replacement for the keybindings yet. But I'll finish this pretty soon and fire then a PR. So we'll have wayland support pretty soon.

It may not be native support yet, but at least it should work.

[2018-12-20 21:32] opmorgan commented on #494
the dunstify client, available on aur, also allows you to replace notifications by ID.

[2018-12-20 21:43] bebehei commented on #494
Just recently, we introduced a `stack_tag` to dunst. On Arch you have to install `dunst-git`. For further informations then, please consult [my comment in the other thread](https://github.com/dunst-project/dunst/issues/321#issuecomment-437693443).

[2018-12-21 02:41] ZakharEl commented on #264
@bebehei whenever you got the dunstcmd with a manual I'll be willing to test it for you and report what features work. Thanks bebehei I appreciate all the work you software developers do and the linux community.

[2018-12-21 03:33] ZakharEl commented on #264
Did more testing with the refactor-outputs branch and transparency does not work in sway but it does not click through the notification box to any app behind it which is good.

[2018-12-27 04:47] vsr625 commented on #494
@bebehei Thank you for looking into this, much appreciated.

[2018-12-27 20:10] bebehei commented on #574
So, I think the obvious solution is to use `envsubst`. For any other values, please consult #357

[2018-12-29 02:10] marcelo140 opened #577 "Override action"
I didn't find any way to override the action of a notification. For instance, my music player provides no action but I would like to add a new action that searches for lyrics. Is this behaviour possible?

### Installation Info

- Version: Dunst - A customizable and lightweight notification-daemon 1.3.2 (2018-05-06)
- Install type: Official Arch Linux package
- Distro and version: Arch Linux 4.19

[2018-12-29 10:09] tsipinakis commented on #577
There is no such option because actions are not something dunst does by itself, the client sends us a list of actions to display to the user and if one is picked we respond back to the sender with the name of the action and leave it up to them to do all the logic.

To do what you're asking you will need to implement this in your music player and not on the daemon/

[2018-12-29 11:58] #577 closed

[2018-12-29 13:06] tsaber opened #578 "If /root/.config/dunst/dunstrc exists it will be preferred to any other"
I just got behind my problem of being unable to customize the dunst notification colors or framestyle in any way.
There was a dunstrc existent in my root .config/dunst folder.
Now I don't know if I might have been the one doing this but even so. Is it intended behavior that root dunstrc precedes over any user  dunstrc?

[2018-12-29 13:07] catzybluphish opened #579 "What are these letters in brackets?"
![dunst](https://user-images.githubusercontent.com/40843060/50538653-23926800-0bbe-11e9-883f-483e0fa99762.png)
They don't appear in Spotify notifications but are else where (gpmdp, firefox, nm-applet).
Here's my [config](https://raw.githubusercontent.com/catzybluphish/Arch-dotfiles/master/.config/dunst/dunstrc)
Cheers!

[2018-12-29 13:41] bebehei commented on #578
Are you at 35c3? I could help you there directly.

[2018-12-29 13:42] bebehei commented on #579
You've got the `show_indicators` option enabled. Set it to `no` and all the actions will disappear in your notifications.

[2018-12-29 13:46] catzybluphish commented on #579
Thank you!

[2018-12-29 13:46] #579 closed

[2018-12-29 19:07] tsipinakis commented on #573
Oh, this issue fell through the cracks sorry!

This is not currently possible with the current features, I guess this falls under the category of implementing RGBA support which has been a long open issue (#289)

[2018-12-29 21:49] bebehei commented on #573
We may be able to solve this. I'm wondering why I haven't answered this yet. I thought I answered it already.

Actually I'd like to dump the opacity setting, too. I'd like to shift this to RGB**A** values.  But I had a failed attempt in #344. In there, I used rgba values, but I instructed cairo to draw over our own drawn surface instead of incorporating the lower window's surface.

In between the

[2018-12-29 21:59] bebehei commented on #578
Which problem?

Dunst doesn't create a config file by itself.

Ok. Dunst only reads a single file. It's depending on your XDG's implementation. Ususally it's `~/.config/dunst/dunstrc`. So for root, it's `/root/.config/dunst/dunstrc`. But usually you don't want to run dunst as root.

How are you starting your dbus service? Which user are you running dbus? How are you starting your session?

[2019-01-02 08:35] tsipinakis commented on #546
@kajzersoze Can you give an example notification that doesn't work? Works fine with my tests.

[2019-01-02 08:57] kajzersoze commented on #546
So, in duntrc
`markup = full`
`format = "<b><span foreground='#6495ed'>%s</span></b>\n%b"`

this works, different colors for title and the body
`dunstify "Test Example" "Test Example More"`

but this one changes the color of the title to the color of the body
`dunstify "Test Example" "Test Example & More"`

the only difference is added `&` in the body of the text

[2019-01-02 09:00] tsipinakis commented on #546
Just tested your example, it works fine on my end.
What does `dunst --version` say? Can you post the entire dunstrc?

[2019-01-02 09:17] kajzersoze commented on #546
[code]

I am restarting dunst after changes, but here is `dunstify -s` anyway
[code]

`dunstrc`
https://bpaste.net/show/06fc0730191d

[2019-01-02 09:44] kajzersoze commented on #546
It was a mistake on my part, I apologize.
It works now :)

Thanks!

[2019-01-03 09:18] #574 closed

[2019-01-03 09:18] bebehei commented on #578
If you have further questions, please ask them. But I'm going to close this issue.

[2019-01-03 09:18] #578 closed

[2019-01-03 09:20] bebehei commented on #573
@tsipinakis Do you have any knowledge if this correct, what I'm telling here? If it's really the case how I outlined it, it should be super easy actually. And I wonder why it hasn't been implemented yet.

[2019-01-03 10:35] bebehei opened #580 "Bad test will fail with Segfault"
https://github.com/dunst-project/dunst/blob/5284ce01f46e21e7026e4af9b129a39fcf8ccb23/test/notification.c#L36-L43

If any of these `ASSERT` macros will fail,

https://github.com/dunst-project/dunst/blob/5284ce01f46e21e7026e4af9b129a39fcf8ccb23/test/notification.c#L164-L174

`notification_unref` wants to free the data of `Test1` and fails with:

[code]

I'd appreciate to make this test not segfaulti

[2019-01-03 10:57] bebehei commented on #580
I claim that our testsuite is wrong. Next to these bits, there's a similar test, which fails the `notification_is_duplicate` test.

https://github.com/dunst-project/dunst/blob/5284ce01f46e21e7026e4af9b129a39fcf8ccb23/test/notification.c#L45-L49

IIUC, the first `ASSERT_FALSE` should actually be a positive assertion.

@tsipinakis Do you have any additional information?

[2019-01-03 19:04] bebehei opened #583 "Cleanup unused git branches"
Can we delete all the old branches in the repository please?

- `master`
- <del>`test-circleci`</del>: Why is there a circleci branch? I thought I've made all changes on my own remote?
- `refactor-outputs`: It got mentioned in the wayland discussion (#264). What's the feature of it? Don't we want to merge it then?
- <del>`refactor-drawing`</del>: Obviously merged.
- `maint`: Is this our 1.3.x rele

[2019-01-03 19:20] bebehei commented on #571
I'm working currently on the comparison. It's actually pretty straight forward with `g_compute_checksum_for_data`.

If you know how to build dunst, you can have a look at https://github.com/dunst-project/dunst/compare/master...bebehei:checksummed-icons. It works but it needs heavy polishing and I have to split the commits.

[2019-01-03 20:14] tsipinakis commented on #583
* `refactor-outputs`: This is the output abstraction, when we, or someone else, decides to implement wayland support it's a reference on how to abstract away X11 calls. I also tried to use it for #569 which is currently stuck in a limbo.

* `main`: Is the branch for our point releases as you said

* `centering`: Ouch, that was left there for a while and no-one picked it up because we are waiting o

[2019-01-03 20:38] bebehei commented on #583
Deleted the old ones.

I forgot `feature/382-reload-dpi` in this list. What about this? Actually it looks promising. But I'm not able to reproduce it. I haven't got a hidpi display.

[2019-01-05 06:42] bebehei commented on #430
I've taken now the approach to implement a `GHashTable` for the icons on my own PC. My idea was to use save `GdkPixbuf` icons in the hash table. The hashtable holds only a weak reference onto the pixbuf. When the last notification unrefs its pixbuf, the weak ref callback fires and can remove the entry out of the `GHashTable`. Works well.

My argument from then was: By caching, we can save CPU time

[2019-01-05 06:42] #430 closed

[2019-01-05 14:36] tsipinakis commented on #430
The optimal thing would be to cache the `colored_layouts` so the redraw time is minimal, but that would require another partial refactor of the drawing system.

[2019-01-05 14:39] #580 closed

[2019-01-05 14:42] bebehei commented on #430
Yes, caching the whole `colored_layout` might make sense and would be the best solution. But the colored layout only contains the scaled image. Dedupping that requires more complexity with almost no benefit.

[2019-01-07 18:42] bebehei commented on #571
@infokiller Fix is on the way (#586). I'd appreciate it if you could test it.

[2019-01-08 09:51] tsipinakis commented on #583
I forgot about that too. Reading the referenced issue says it was waiting for the drawing refactor but we never touched it since. It could be worth looking at.

[2019-01-09 07:58] annata83 commented on #357
Hey @GloverDonovan Do you mind showing an example?

[2019-01-13 08:01] SpaceboyRoss01 commented on #573
For now, if you're using compton you can just add `"90:class_g = 'Dunst'"` to your `opacity-rule` section. This will make the notifications 90% transparent.

[2019-01-13 10:34] bebehei commented on #573
There's an overall `opacity` option in dunst itself. Same effect, but no speciql compositor needed. But this doesn't cover the font (which is this bug's actual feature request).

[2019-01-13 15:34] #571 closed

[2019-01-15 13:48] anowlcalledjosh opened #589 "Crash when Google Chrome gains focus"
When I run Dunst and focus a Google Chrome window, Dunst crashes. <sup>wat</sup>

The error that Dunst prints before exiting:

[code]

If I use `-verbosity debug`, I get these three lines as well before each crash:

[code]

### Installation info

- Version: `v1.3.2-334-gfb2904767` (also reproducible on `v1.3.2-281-gc562c6441`)
- Install type: manually from git
- Distro and version: Ubuntu 18.04

[2019-01-15 13:58] bebehei commented on #589
I suspect the error in:

https://github.com/dunst-project/dunst/blob/8579b3ed6bd3331e4cf6626e6f6423a166252117/src/x11/screen.c#L257-L269

I guess, there should be another boundary check, because we're passing a `NULL` string as the atom name. This ain't good.

---

Do you have any special modifications on your system? How did you install chrome?

[2019-01-15 14:09] anowlcalledjosh commented on #589
I'm using i3 (installed from their repository) rather than GNOME; I don't think I've changed anything in a big way apart from that. I installed Chrome from the official deb package.

I should have mentioned it's Chrome Dev, not Chrome Stable – maybe a recent update introduced something in Chrome that's not behaving properly.

[2019-01-15 15:32] anowlcalledjosh commented on #589
It looks like it is something in Chrome Dev – this doesn't happen if I focus a Chrome Stable window. I'm using Chrome 73.0.3664.3.

With that commit, I get this when Chrome gains focus:

[code]

[2019-01-16 05:43] infokiller commented on #571
Sorry for the late reply- thanks for doing this, works when I tested it!

[2019-01-16 08:39] PMunch commented on #45
I agree that this would be a nice feature. So far I've gone with a full-width notification in order to be able to notice it out of the corner of my eye if I'm currently looking at another monitor than the one with focus.

[2019-01-16 10:12] bebehei commented on #589
@anowlcalledjosh Can you please test the commit 874e0ef ? Thanks in advance. If it fixes your behavior, I can create a PR for it and it's fixed ;-)

[2019-01-16 23:04] anowlcalledjosh commented on #589
Apparently it's fixed now without any code changes – I can't get dunst to crash by giving Chrome focus even on an older commit... I have no idea what was causing the error that has changed in the last day, sorry!

That commit doesn't seem to break anything, though :)

[2019-01-23 04:48] ackerleytng opened #591 "How can I make dunst run as a system service?"
### Installation info

- Version: `1.3.2-334-gfb`
- Install type: `manually`
- Distro and version: `Centos 7.6`

Centos 7.6 does not have support for `systemctl --user`, and they don't plan to support it https://bugs.centos.org/view.php?id=8767

Any tips on how I would go about making dunst run as a system service, and still allow user processes to send notifications to dunst?

So far, I've been a

[2019-01-23 09:43] bebehei commented on #591
At first, `dunst` is a DBus service. And in DBus services, there is a differentiation between user and system services (there's an extra system bus and session bus).

Given by the architecture and goal of your program, it either serves or queries the system bus or the session bus. But it can't do both.

With dunst, you show the user's notifications. So there is no point, using the system bus. We h

[2019-01-23 09:45] bebehei commented on #591
For further questions, just ask them here.

[2019-01-23 09:45] #591 closed

[2019-01-23 15:46] anowlcalledjosh commented on #589
Right, I managed to reproduce it again – that commit (874e0efe8544ed5033b504cade40414d77f8e93e) consistently fixes it.

[2019-01-23 16:58] bebehei commented on #589
Ok, so I've created a PR #593. @anowlcalledjosh Could you do me a favor and test the PR please? Thanks in advance.

[2019-01-23 17:14] bebehei commented on #522
Aside, that we can't compile it with another compiler than LLVM or gcc, I don't want this anymore.

This might help for early exit conditions. But actually, I think about many use cases, where we take the use of uninitialized variables. And in that code, it won't be consistent anymore. And I prefer consistency.

In the meantime, I've learned how to cope the early exit conditions and where to free

[2019-01-23 17:14] #522 closed

[2019-01-23 20:04] anowlcalledjosh commented on #589
Tested it, it works fine. Thank you for the fix!

[2019-01-24 00:52] ackerleytng commented on #591
Thanks for the quick response!

I do have the file `/usr/share/dbus-1/services/org.knopwob.dunst.service`, but doing `notify-send a` does not start dunst.

When I manually start dunst, like `dunst -print` in one terminal window, `notify a` in another window does not cause any popups, and neither does dunst print anything.

There is a `dbus-daemon --system ...` on my process listing, but when I str

[2019-01-24 01:35] ackerleytng commented on #591
I adjusted my .xinitrc according to https://github.com/dunst-project/dunst/issues/238 and now when i run dunst, I'm getting `Cannot connect to DBus`.

I saw this, how should I check these?

+ dbus packages are really installed = which dbus packages should I be looking out for?
+ dbus is running = I do have dbus-daemon running, is it the right instance/in the right mode?
+ The env variable DBUS_SES

[2019-01-24 02:31] ackerleytng commented on #591
I fixed it! For anyone who might drop by:

+ The dbus-daemon that is running as `--system` is NOT what you're looking for. The one you're looking for should be something like `dbus-daemon ... --session` and should be running as your user, not dbus, not root.
+ if you copy xinitrc from the `/etc` directory, as in #238, it does this weird `eval $(dbus-launch --sh-syntax --with-session)` but doesn't

[2019-01-24 11:19] bebehei commented on #565
While reading [the comments about the current TravisCI aquisition](https://news.ycombinator.com/item?id=18978251), I've got the feeling, we did the absolute right thing here.

[2019-01-25 06:54] #589 closed

[2019-01-25 09:19] bebehei commented on #557
Ok, I've started to create docs for dunst. I've chosen readthedocs. It's easy to build and it's tightened strongly to git. You can also build manpages with the underlying sphinx framework, which helps us replacing the superbig `docs/dunst.pod` manpage.

Also this is a duplicate issue. There's already #507, which got reported first. So, I'm going to close this one in favor of #507.

If you guys hav

[2019-01-25 09:19] #557 closed

[2019-01-25 12:09] #470 closed

[2019-01-26 12:36] bebehei commented on #557
Hey guys, I want to move the installation section from the `README.md` into `/docs/installation.rst`. This renders the README almost empty.

I'd love to put into the readme a good set of screenshots. This readme will also be the landing page of the readthedocs project. Are you able to show me your unixporn and make some cool screenshots showing dunst's abilities?

In the meantime, there's already

[2019-01-26 12:36] bebehei commented on #507
Hey guys, I want to move the installation section from the `README.md` into `/docs/installation.rst`. This renders the README almost empty.

I'd love to put into the readme a good set of screenshots. This readme will also be the landing page of the readthedocs project. Are you able to show me your unixporn and make some cool screenshots showing dunst's abilities?

In the meantime, there's already

[2019-01-26 15:06] anowlcalledjosh opened #594 "Segfault when notification is sent"
Since commit 1e82c761c9b8c340be4cba74c5ed59bf0413aa54 (from #592), dunst segfaults when any notification is sent. Reverting that commit stops the segfault.

[code]

### Installation info

- Version: v1.3.2-334-gfb2904767
- Install type: git
- Distro and version: Ubuntu 18.04

[2019-01-26 15:12] tsipinakis commented on #594
Thanks for the report!

I can't reproduce this neither with my personal config nor with the default dunstrc, and don't see anything wrong with another quick look at that commit.

Can you post your dunstrc and what notification you're sending to reproduce it?

[2019-01-26 15:34] bebehei commented on #594
At best, this would be the output of `dbus-monitor path=/org/freedesktop/Notifications` for the time, when the notification gets sent.

[2019-01-26 15:48] anowlcalledjosh commented on #594
Sure, you can find my dunstrc [here](https://github.com/anowlcalledjosh/dotfiles/blob/174137b05e2d7a17ae93c614e32a80e68a17c039/.config/dunst/dunstrc).

Here's the output of that command:

[code]

[2019-01-26 19:01] tsipinakis commented on #594
I sent an exact duplicate of your notification with:
[code]
and using the config file you provided, still no crash. Weird.

Any ideas @bebehei ?

@anowlcalledjosh Can you upload a core dump for me to analyze locally? (`ulimit -c unlimited` to enable core dumps). Make sure you recompile with the latest commit on master obviously.

To clear up any confusion:

The version you listed is older than tha

[2019-01-26 19:16] bebehei commented on #594
I'm on my mobile right now. I have no idea. No special rules, no funky format in the dunstrc.

One idea, I'm having: Maybe the new `rule_new` or `rule_apply` method does something weird and frees some bad stuff.

[2019-01-26 19:36] tsipinakis commented on #594
While I always say a `make clean` is pretty mandatory when doing any jumping between commits I'll treat this as a bug, we should either keep track of header dependencies and recompile the affected files or recompile the entire project if a header file changes.

Linking together broken ABIs like this can cause some pretty weird behaviour as demonstrated.

[2019-01-27 05:07] xPMo commented on #575
Reopening. I use KDEConnect, and was trying to get my battery to show up as a notification with actions to do things with my device. But it always hung as above.

It turns out that if I ask KDE for a property relating to another device, and *if, and only if* it is currently connected, it will cause this.

[code]

[2019-01-27 11:16] adriencarbonaro opened #596 "Corner radius doesn' work"
I use dunst on a mac book pro retina dual booted in Ubuntu and a ASUS. On my Mac Book pro everything is fine but on the ASUS the corner radius doesn't work.

Here is my config :
[code]

### Installation info

- Version: `Dunst - A customizable and lightweight notification-daemon 1.3.0 (2018-01-05)`
- Install type: `apt`
- Distro and version: `Ubuntu 18.04.1 LTS x86_64 `

[2019-01-27 11:54] adriencarbonaro commented on #596
I forgot that on the Mac I built it from source. Thank you!

[2019-01-27 22:47] bebehei commented on #507
@tsipinakis at https://github.com/dunst-project/dunst/issues/596#issuecomment-457909449:

Yeah, let's do a new release. I've created a new `1.5` milestone to cover the overnext minor release. And I've put all unnecessary work from `1.4` into the new milestone.

I would love to finish the docs before release. I think this is a blocker. Good software consists of two parts: Writing good software and

[2019-01-29 00:19] #594 closed

[2019-01-30 09:51] bebehei commented on #575
Ok, I used now 1.3.2 as dunst's main driver. But i still can't reproduce it. I only stumble upon old (and already fixed) bugs. [0]

Please send the logs of

- `killall dunst; dunst -print | ts "[%T]` (please use your distro version and not master).
- `dbus-monitor path=/org/freedesktop/Notifications | ts "[%T]`
- Your complete `dunstrc`

And send your reproducing instructions.

---

[0] @tsipinaki

[2019-01-31 13:30] atomheartother opened #599 "All notifications prefixed with (A)"
Hello!

I can't imagine that this hasn't been described before but I can't seem to find any info about it.  The fact that search engines don't really like the string "(A)" doesn't help... I've had this bug on my setup for the longest time and I can't seem to get rid of it. I didn't mind but I recently reinstalled Arch from scratch and this issue is *still here* so I thought i'd ask here.

Every si

[2019-01-31 13:43] bebehei commented on #599
Set `show_indicators` to false.

[2019-01-31 13:44] tsipinakis commented on #599
I was about to say that this is a good opportunity to increase our docs but a quick search for `(A)` in the manpage brings up the relevant section.

       notifications HAVE actions.

@atomheartother Does that answer your question? Any suggestions to improve the docs?

[2019-01-31 13:48] atomheartother commented on #599
Don't I feel dumb, I searched all issues here and the documentation online and absolutely forgot you guys had a `man` page. I figured it was something like that though. Sorry for wasting your time, that fixed it of course.

[2019-01-31 13:50] tsipinakis commented on #599
No worries, it happens :)

[2019-01-31 13:50] #599 closed

[2019-01-31 13:52] atomheartother commented on #599
@tsipinakis Hm well the ["Configuring Dunst" section of the documentation](https://dunsttestproject.readthedocs.io/en/docs/configuration.html) is definitely empty, although I understand it's an open issue (#507) and a WIP. Is anyone currently working on filling that? I'd love to contribute to this awesome project.

[2019-01-31 13:54] bebehei commented on #599
This is a regular question. The `(A)` stands for action. So the notification is clickable (and does trigger something in your application). In case for discord, I guess it might open the corresponding chat.

Please keep this issue open. We'll cover this in our docs. We currently start to write some proper docs. And this question has to get answered there, too.

[2019-02-03 09:39] ortango opened #602 "config.mk comment is causing a bad path during make install"
### Installation info

- Version: `v1.3.2-347-gce5721a` (latest git)
- Install type: `manual` (from PKGBUILD)
- Distro and version: `archlinux`

[commit `ce5721a`](https://github.com/dunst-project/dunst/commit/ce5721af731f68ac602d8518c14451216a19a17b#diff-24cd8940f759626a7a0f55b7496baba4R5) in config.mk adds `MANPREFIX ?= ${DATADIR}/man # around for backwards compatibility`. the comment is adding

[2019-02-03 10:04] tsipinakis commented on #602
Fixed with #600. Wow, that was a really fast response from both of you.

[2019-02-03 10:04] #602 closed

[2019-02-06 17:28] quirinux opened #604 "Custom frame_color doesn't work as expected at all times"
I've got a really weird behaviour when trying to personalize the frame_color for some specific apps

Follow a bit of my dunstrc:

on global section:
[code]

on urgency sections
[code]

On script section
[code]

Either on Slack and vpnconnect section the frame_color is not changed when triggered, but works perfectly fine on Spotify notification, it gets me buggy.
the last run script is my notificat

[2019-02-06 17:54] tsipinakis commented on #604
There hasn't been a release since we added `frame_color` as a rule setting. You'll have to build from source to use it.

Argh, this is the second similar issue (#596) about unreleased changes recently, there will be a new release in 2 weeks max. Really let the changes pile up this time.

[2019-02-06 17:54] #604 closed

[2019-02-06 18:55] bebehei commented on #507
We desperately need a "available since" tool. This would make so many things easier for users who report things like #604.

[2019-02-06 20:45] tsipinakis commented on #507
A better approach would be to stick to a more regular release schedule say 4-6 months rather than the "when we feel like it" schedule we're on now. Even if there's no notable changes just release a minor version to ship any changes made in a reasonable timeframe.

Other than that, just annotating the settings in the docs with the first available version would be a good solution.

---

Also: Lookin

[2019-02-07 10:58] quirinux commented on #604
so that might be fixed already, good to know, thanks
dunst is awesome but it lacks documentation and script examples bit I believe I'm able to give a hand with those

thanks a mil

[2019-02-07 11:22] quirinux commented on #507
ya that'd be really helpful for new comers like me, anyways I believe a good start point for issues like mime would be having a rough description of what each setting on config file does and, like said earlier on this thread, having a "available since" would be handy too.

I myself would prefer github wiki tool rather than readthedocs, keeping the whole project in one place, but I have to say read

[2019-02-14 09:57] #540 closed

[2019-02-15 18:07] tsipinakis commented on #349
There hasn't been any work done for this and haven't really decided yet how to handle it. I'm bumping this to 1.5.

[2019-02-15 18:08] tsipinakis commented on #518
The refactor for this part of the code isn't done yet and this is a fundamental issue with the algorithm used so it can't be fixed quickly.

I'm bumping this to 1.5 to unblock the release of 1.4.

[2019-02-23 20:16] tsipinakis opened #607 "Refactor rules"
Currently we're storing the rules in a [huge struct](https://github.com/dunst-project/dunst/blob/977a7a7ea47f2d86ea3168e609576ebeb0ffa719/src/rules.h#L11-L39). This is obviously neither space nor time efficient as we store a full value for all unset rules and on match we have to compare all possible match and set rules.

My proposed implementation would be something like this: (pseudocode, don't e

[2019-02-25 15:59] bebehei commented on #607
The approach seems tempting. Running two times over the list might be a downside, but I'd gladly accept it if it allows abstraction of our rule.

Especially this lump of code would vanish

https://github.com/dunst-project/dunst/blob/7b3d85a6d0957fba03ed89a92b588e2349d10c75/src/rules.c#L93-L104

and would get replaced with a simple for loop:

[code]

Sexy.

---

But, how do you solve `rule_part_mat

[2019-02-25 16:20] bebehei commented on #607
Another note on the data space:

Also keep in mind, that an `enum` is usually 8 bytes long (as long as a pointer, probably to make switching easier).

This makes the new rule struct at least 16 bytes long with another 16 bytes per match/set declaration.

For myself, I've got on average 3 lines per rule in my config. Without the actual data, the structs take `(16Byte + 3*16Byte) = 64 Bytes`

In com

[2019-02-25 18:42] bebehei commented on #382
@Vladimir-csp Could you please test the PR #608. I'd love to see it fixed.

[2019-02-25 18:44] bebehei commented on #583
So, as there is #382 covered, I think we can finally remove the branch `feature/382-reload-dpi`, which blocked this issue.

[2019-02-25 18:44] #583 closed

[2019-02-25 18:48] bebehei commented on #575
@xPMo Do you have some additional info?

[2019-02-25 20:26] Vladimir-csp commented on #382
Unfortunately, I see no difference. The next notification after changing DPI appears with the size consistent with dunst startup conditions.

[2019-02-25 20:53] bebehei commented on #382
Mhmm. That's not cool.

Changing it via `echo "Xft.dpi: $DPI" |  xrdb -merge` is still not possible (and it's not intended to get changed). Do you set the dpi with `xrandr --dpi <DPI>`, too?

---

Are you running off the right branch?

[code]
---

What's your setting of `per_monitor_dpi` in the `experimental` section?

[2019-02-25 20:59] Vladimir-csp commented on #382
I use a script that sets DPI via `xrandr --dpi` and also syncs it to xrdb and fontconfig, so all sources covered.

[code]
I've built a package from it.

[2019-02-25 21:05] bebehei commented on #382
What does

[code]

Report after changing the DPI?

[2019-02-25 21:10] Vladimir-csp commented on #382
it reports correct values

[2019-02-25 21:17] bebehei commented on #382
So, it does report correct DPI, matching with the DPI set by `xrandr --dpi`?

[2019-02-25 21:19] Vladimir-csp commented on #382
Yes. I'm switching between 96 and 120, changes are applied correctly in all three ways: xrandr, xrdb, fontconfig

[2019-02-25 21:29] bebehei commented on #382
Ok, I added another debug commit. Could you please rebuild it and start dunst with `dunst -verbosity info`? And tell, what "Drawing with screen dpi" says?

[2019-02-25 23:15] xPMo commented on #575
Sorry, blame life for the delay.

Reproducing:
- have a device connected
- don't launch kdeconnect-indicator on startup while device is connected (it causes dunstify to break immediately)
- run this script:
[code]
Output:
[code]
Choosing an action does not dismiss the notification or cause dunstify to return. Dismissing the notification does not cause dunstify to return.

- [dunst.log](http://ix.i

[2019-02-26 00:46] bebehei commented on #575
Well, I can't reproduce anything. Except for lines 85 and 114, the `dbus.log` file is clean.

Reproduce it with something other than kdeconnect and we can provide help. I don't have the kdeconnect configuration (and I don't want to have it).

I can't provide you with further help. Let's hope it got already fixed on current master.

[2019-02-26 00:46] #575 closed

[2019-02-26 05:37] Vladimir-csp commented on #382
Launched `dunst -verbosity info` while DPI was set to 96, switched DPI to 120
[code]
`notify-send test test`, dunst reported:
[code]

[2019-02-26 11:59] tsipinakis commented on #575
KDEConnect is obviously doing something to the bus.

I have 2 more ideas before I give up here as well:

* Can you reproduce it again but run `dbus-monitor` without any parameters. This will show all the messages in the bus.

* Run dunstify with `gdb -ex run --args dunstify --action=...
  Reproduce as usual and hit ctrl+c in gdb and run 'backtrace' and post the entire output.

Now if this also rev

[2019-02-26 12:28] tsipinakis commented on #382
This isn't working because the impementation in #608 favors Xft over the `xrandr --dpi` value and additionally `screen_dpi_get_from_xft` only reads from xft on the first call and after that it returns the cached value. So this will only work if `Xft.dpi` is correct when dunst receives the first notification.

[2019-02-26 14:09] Vladimir-csp commented on #382
Is it possible to delay read until a new notification is shown?

[2019-02-27 17:15] bebehei commented on #382
Oh yes, @tsipinakis is right. Sorry, I failed communicating my own code :see_no_evil:

When should we query it? There's no event semantics to listen on for changed values. It's huge overhead to query the DB per notification.

The only way is either to invalidate the Xft value:

[code]

Then dunst will use the value given by `xrandr --dpi`. With xrandr, we've got an event for screen changes and we

[2019-02-27 17:43] Vladimir-csp commented on #382
Invalidating xrdb value will affect some software that for some reason relies exclusively on it. I've experimented extensively with DPI setting and came to conclusion that the best way to reach out to all the apps it is to carpet-bomb every source of the value: xrandr, xrdb, fontconfig. I have a hook in autorandr that does just that.

To avoid any race with the settings or overhead from constant q

[2019-03-01 07:08] fwanky opened #609 "Is there a way to set icons to only show in certain software notifications?"

[2019-03-01 09:27] bebehei commented on #609
Write a rule for, which matches the "ugly" notifications and set `icon = ""` in your rule there.

[2019-03-02 09:55] fwanky commented on #609
@bebehei Well, i'm trying to get rid of it showing for anything other than certain applications, would I just comment it out globally and make rules for the specific said applications?

[2019-03-02 11:42] tsipinakis commented on #382
@Vladimir-csp #608 has been updated to invalidate the cached dpi value when a screen update is received as you suggested. Can you try it out and see if that works for you?

[2019-03-02 11:59] Vladimir-csp commented on #382
I do not see any change in behavior, still using startup dpi and not reacting to changes.

[2019-03-06 20:11] bebehei commented on #382
I finally found out. Long story short: it was an odyssey.

@Vladimir-csp Could you please test this again? It should work like a charm.

I have to step back of this. There is actually an event, which you can listen on. And it's super easy to listen on it. The only thing: xlib doesn't do it :imp:

[2019-03-06 20:30] Vladimir-csp commented on #382
at commit 2d37902. No change.
- Launched dunst with dpi 120
- Changed dpi to 96 in xrandr, xrdb, fontconfig
- Dunst still shows subsequent notifications in 120 dpi

[2019-03-06 22:04] hjpotter92 opened #611 "Unable to start dunst notification daemon for user"
I did a clean arch install with only XDM and i3 to serve as login/window managers. I have also installed dunst package; and according to [arch wiki][1] nothing else is required for it to work.

However, when trying to send notifications, I receive:

    Unable to send notification: Error calling StartServiceByName for org.freedesktop.Notifications: Timeout was reached

The troubleshoot section on

[2019-03-06 22:42] bebehei commented on #611
Just run `dunst` in a terminal. What does it say?

[2019-03-06 23:21] hjpotter92 commented on #611
@bebehei It starts from terminal, but not as a part of user service.

[2019-03-06 23:27] bebehei commented on #611
What does

[code]

report?

[2019-03-06 23:28] hjpotter92 commented on #611
[code]

[2019-03-06 23:31] bebehei commented on #611
Duplicate of #347

[2019-03-06 23:39] hjpotter92 commented on #611
@bebehei I am fetching DISPLAY variable. I did go through the linked issue.

[2019-03-07 00:00] bebehei commented on #611
- Are you sure, that the sourced file actually gets executed?
- Are you sure, that the `DISPLAY` variable is set, when `systemctl` is called?

`DISPLAY` is definitely either unset or set to a wrong value.

[2019-03-07 00:51] hjpotter92 commented on #611
In the `journalctl` logs, I can see display value being provided to other dbus services.

Check the logs below:

<details>
[code]
</details>

[2019-03-07 05:32] tsipinakis commented on #611
Thanks for the very detailed report and to be honest: We also have no clue what's happening here so it's basically a guessing game, but a very good opportunity to add some user documentation for this.

Some ideas that come to mind:

* Debian has the following script in [`/etc/X11/Xsession.d/20dbus_xdg-runtime`](https://paste.debian.net/1072012/), some research shows that Xsession is executed later

[2019-03-07 09:34] tsipinakis commented on #382
[code]

@Vladimir-csp The above commands work for me for switching dunst to 120 dpi with 2d37902, can you try again with the default dunstrc?

[2019-03-07 14:20] hjpotter92 commented on #611
Temporarily fixed by placing `exec_always --no-startup-id dunst` in my i3 config.

[2019-03-07 16:28] Vladimir-csp commented on #382
It works with default config, but does not work with mine.
Here is the diff:
[code]

Debug messages with default config contain `Checking for active screen changes`:
[code]

 but with my config they are absent:
[code]

[2019-03-07 16:41] bebehei commented on #382
There has to be the message `XEvent: processing PropertyNotify for Resource manager` in your debug log of dunst.

Please recompile with a `make clean` and fire the `echo "Xft.dpi: 120" | xrdb -merge` manually. The `PropertyNotify` event has to come somewhere.

The only thing, which could be wrong, would be the atom check:

[code]

But this time, it works flawless on my machine. I checked everythin

[2019-03-07 16:54] Vladimir-csp commented on #382
`make clean ; make`, launched fresh binary from build dir with `-config` option. Same thing. `XEvent: processing PropertyNotify for Resource manager` appears only with default config.
Here is my config (without comments):
[code]

[2019-03-07 16:58] tsipinakis commented on #382
Reproduced with the dunstrc provided.

@bebehei Found the bug ;)

The problem is with
[code]

With any other follow mode we subscribe to `PropertyChangeMask` which apparently includes resource manager events but with `follow = none` we don't receive them so we don't know when to update.

[2019-03-07 19:55] #609 closed

[2019-03-07 21:06] tsipinakis commented on #533
Looking at this again I'm not sure this is something for us to deal with.

For one we would need some way of detecting whether the output is going to `.xsession-errors` which I'm not sure how to achieve.

Secondly, taking a look at my 300k+ lines huge `.xsession-errors` practically no other program does this by default. This should be something that's up to the logger to do albeit making a change

[2019-03-07 21:11] willbprog127 commented on #533
@tsipinakis Thanks for looking into this.  I understand the challenges.  Be aware that not every distro uses systemd so not all distros will 'do the right thing' by default.

I appreciate your help and dunst, because most built-in notification daemons (Xfce, Mate, etc) don't keep the notification on the screen indefinitely, even if you tell them to do so.  Plus I enjoy the many different options a

[2019-03-07 21:11] #533 closed

[2019-03-07 21:12] tsipinakis commented on #524
Apparently I never resolved this issue:

As @bebehei correctly said above,

Admittedly we broke backwards compatibility by mistake or otherwise here but this was an undocumented feature that went against the standard. And with this change dunstify now behaves consistently with notify-send which only allows newlines in the body.

---

Workarounds exists, if this is _really_ needed in some case duns

[2019-03-07 21:12] #524 closed

[2019-03-07 21:14] tsipinakis commented on #516
@jadiah Ping, did this response solve your issue?

[2019-03-07 21:19] tsipinakis commented on #514
I'm going back through issues and just now remembered this one, not sure why I skipped replying, sorry!

I'm not sure I understand the behaviour you're describing exactly;

Are you referring to having an option to expand notifications that were ellipsized due to `word_wrap = no` and geometry constraints?

Keep in mind many messaging applications truncate the message themselves before sending it as

[2019-03-07 23:09] toonn commented on #514
This was a *while* back so I don't fully remember. But I think you get it. In this case *I*'m in control of what gets sent to dunst so that's not a problem.

I don't always want my screen flooded with walls of text so the truncation is usually preferred but I'd like to be able to toggle it somehow (with a keybinding of course, no mousing ; )) in case I spot a significant message I need to read but

[2019-03-16 18:48] wavexx commented on #434
Still affected by this. When the screen configuration changes, dunst still uses the old screen.

I'm pretty sure this happens due to:

- follow=mouse
- window is moved to another region due to xrandr configuration change
- mouse is never actually moved (hotkey)
- the focused window never changed

I can easily "fix" dunst by moving the mouse to another window, thus triggering a focus change event.

[2019-03-23 17:07] tsipinakis commented on #382
@bebehei seems inactive/busy and hasn't responded to my pings or email, I'll take over until the 1.4 release which I'm not proud of how much it's been delayed.

@Vladimir-csp I've pushed a fix for the bug mentioned above can you confirm this works for you now?

[2019-03-23 17:15] Vladimir-csp commented on #382
It works!

[2019-03-23 18:04] #382 closed

[2019-03-23 18:06] tsipinakis commented on #382
Awesome! Merged, it'll be included in the 1.4 release which will be the next week or so.

[2019-03-23 18:54] tsipinakis commented on #434
@wavexx Can you build https://github.com/tsipinakis/dunst/commit/545db8c54a4ba198590d8a34f5d8f43ec7e5cd2e and tell me if that fixes it?

From a few tests I've tried I can't reproduce this locally.

[2019-03-27 07:34] 11111000000 commented on #307
Please, help! How to get history? I lost important notification!

[2019-03-27 08:14] tsipinakis commented on #307
@11111000000 If more than 20 notifications have been sent since it's not possible unfortunately. The [history_length](https://github.com/dunst-project/dunst/blob/master/dunstrc#L176-L177) setting controls how many notifications are kept in history, and it's set to 20 by default.

History is never saved anywhere, it's just in memory while dunst is running because it's not meant to handle important

[2019-03-27 22:29] p-e-r-s-o-n-a-l-a-c-c-o-u-n-t opened #612 "How to dunst with sysvinit?"
Minimal devuan (debian without systemd, but with sysvinit) install + basic X (openbox) + dunst and libnotify-bin.

Similar setup on debian (systemd) works out-of-the-box.  I understand that there are fundamental differencies between systemd and sysvinit based systems and what I have gathered for now, sysvinit needs some extra care. Also devuan provides dunst and libnotify-bin in its own repositori

[2019-03-27 22:34] Tonus1 commented on #612
Do you launch Dunst at startup? How do you test notifications?

On Slackware (no systemd crap either), it works out of the box.

[2019-03-27 23:01] p-e-r-s-o-n-a-l-a-c-c-o-u-n-t commented on #612
No, I just `apt install dunst libnotify-bin` (and reboot to celebrate)

notify-send "TEST NOTIFICATION"

BTW [FAQ](https://dunst-project.org/faq/) says that env variable DBUS_SESSION_BUS_ADDRESS must be set, how it is done? `env | grep -i "DBUS_SESSION_BUS_ADDRESS" ` yields nothing, also there was mentioned `gdbus` , which I have no idea what it is, nor do apt.

[2019-03-28 10:06] tsipinakis commented on #612
On Debian you need to install the `dbus-user-session` package in order to use dbus. After installing that (and rebooting/relogging) running `notify-send` on the command line should start dunst automatically.

[2019-03-28 10:59] CMCDragonkai commented on #350
Is this in version 1.3.2. When I use `~` in `icon_path`, dunst complains about not finding the icon for `dialog-information`.

[2019-03-28 11:00] CMCDragonkai commented on #350
This is my current `icon_path`:

[code]

[2019-03-28 11:01] tsipinakis commented on #350
@CMCDragonkai It's not, new release is scheduled for this weekend (and its very long overdue as you've noticed!)

[2019-03-28 11:09] tsipinakis commented on #350
Oh, looking at this again, this actually _is_ in 1.3 but `icon_path` was skipped accidentally. You're looking for #520. It's been fixed in master and will be released with 1.4.

[2019-03-28 16:07] p-e-r-s-o-n-a-l-a-c-c-o-u-n-t commented on #612
from debian package search for "dbus":
`dbus-user-session` - simple interprocess messaging system (systemd --user integration)
`dbus-x11`               - simple interprocess messaging system (X11 deps)

`dbus-x11`  did the trick and notifications are working.
thanks!

[2019-03-28 16:07] #612 closed

[2019-03-28 17:33] tsipinakis commented on #612
Oh right! `dbus-user-session` is for systemd, `dbus-x11` is the more general one, oops!

Glad you figured it out.

[2019-03-30 16:38] wavexx commented on #434
On Sat, Mar 23 2019, Nikos Tsipinakis wrote:

Ok, I've built it but testing is also going to take a while on my side.
This is annoying to reproduce :/

[2019-03-30 23:48] zaza42 opened #613 "fullscreen and icewm"
- Version: `1.4.0`
- Install type: `manually created package with -Os and -flto flags`
- Distro and version: `Debian sid+experimental`
- Window manager: `IceWM 1.5.3`

The new fullscreen feature acts weird to me, especially pushback. When I do fullscreen in urxvt (f11), the first time the notification gets disappeared, but when switch back from fullscreen, nothing shown. Dunst is only triggered, w

[2019-03-31 07:51] tsipinakis commented on #613
That's weird, it works perfectly on i3, iceWM must be doing something different with the fullscreen hints/events.

I'll setup iceWM in a VM later today to try and reproduce this.

[2019-04-01 07:44] catzybluphish opened #614 "max_icon_size is broken when dynamic width is used"
### Installation info

- Version: `1.4.0 (2019-03-30)`
- Install type: `package`
- Distro and version: `Arch`

The `max_icon_size` setting is broken. Any value will make the icon show at its maximum size. Setting it to 0 will still enable icons. Am I missing something?

[2019-04-01 11:07] Teeffelen opened #615 "Dunst (1.4.0-1)"
Dunst doesn't seem to startup anymore using `dunst &` in my `.xinitrc`. Downgraded to 1.3.2 seems to fix it. It does work after a `pkill dunst` and restarting dunst from a terminal (this method does not reveal any errors).

### Installation info

- Version: `1.4.0-1`
- Install type: `package/pacman`
- Distro and version: `Arch Linux 5.0.5`

[2019-04-01 14:24] biopsin opened #616 "html formating (v1.4.0)"
Hi, thank you for new version.
I have a slight issue with some scripts using html as it is shown.

In v1.3.2 (all good)
`notify-send '<a href="https://time.is/no/Oslo">Time</a><br>' "  $(shw)" -t 30000 -u low;`

In v1.4.0 (html is shown in notifications)
![19-04-01--1554127624_scrot](https://user-images.githubusercontent.com/7681285/55334028-b92ce480-5498-11e9-9a99-3ff3d792afe4.png)

[2019-04-01 16:03] tsipinakis commented on #616
This is a deliberate change, see #497 (and the linked issue), #399.

The problem is that the notification spec never supported markup in the summary so while clients expect markup support in the body and will escape special characters (`<`->`&lt;`) they didn't do that for the summary which resulted in a parsing errors.

[2019-04-01 16:03] #616 closed

[2019-04-01 16:07] tsipinakis commented on #615
Are there any errors from dunst in the system log or .xsession-errors?

[2019-04-01 19:37] biopsin commented on #616
Thank you for the explaination, however I get no actions on these notifications no more
(dmenu: context = ctrl+mod4+space or do_action: middle mouse launch browser)
I have set verbosity = debug but unshure if it gets striped or what on packaging as I get no feedback in term.

example (btw notify-send is symlinked to dunstify)
[code]

[2019-04-01 21:51] biopsin commented on #616
I pasted a test without url quote, my bad.
I did not expect these slashes in url ..ef=\"..lo\"   this works.
Thank you for your time, I would not have spotted this detail.

[2019-04-02 05:33] catzybluphish commented on #614
This is the [dunstrc](http://ix.io/1F2F) I use.
Ever since I updated dunst from the Arch's repos, the icon setting is broken. I've even switched out for the new /usr/share/dunst/dunstrc but that didn't help. All I did was:
1. update dunst
2. change to new dunstrc

[2019-04-02 05:47] fwanky commented on #614
Same issue here on arch.

[2019-04-02 08:50] tsipinakis commented on #614
Reproduced, the bug comes from c99f715391ab54df9fc6289410da24a62f2ac18f I forgot to check whether the width was 0 so it capped the `max_icon_size` to 0 automatically if dynamic width is used, oops.

@catzybluphish @fwanky Can you build https://github.com/tsipinakis/dunst/commit/dda26bfbe911395ae1d796d3266836af6c2edd78 to confirm if this fixes the issue?

[2019-04-02 10:16] catzybluphish commented on #614
Thanks! It's fixed. While I'm still here, I have a feature suggestion. Since I'm using `geometry = "0x0-20+41"` (dynamic width as you call it), I'd like there to be some space between the icon and text. As you can see in this image:
![2019-04-02-200843_273x112_scrot](https://user-images.githubusercontent.com/40843060/55394689-33d22e80-5583-11e9-9441-5522280ac5bf.png)
The space in between is only a

[2019-04-02 13:32] Teeffelen commented on #615
Checking a fresh .xsession-errors does not show any errors. Restarting dunst with the -print option shows the following:
`WARNING: No icon found in path: 'dialog-information'
{
	appname: 'notify-send'
	summary: 'hfkdsaf'
	body: ''
	icon: 'dialog-information'
	raw_icon set: false
	icon_id: '(null)'
	desktop_entry: ''
	category:
	timeout: 10000
	urgency: NORMAL
	transient: 0
	formatted: 'hfkdsaf'
	f

[2019-04-02 13:43] Teeffelen commented on #615
Wait, I found this using `journalctl -fp err`:
[code]
(Reboot was me checking if the 1.4.0 version worked at boot, clearly it had an error)

[2019-04-02 15:57] Teeffelen commented on #615
You can close this, I got it working by removing all instances of dunst in my i3config and xinitrc... Somehow it starts now at boot without any problems/errors? (I did nothing regarding systemd or systemctl as far as I know?)

I probably had it start dunst twice, causing some problems on the new build, and when I did the pkill dunst I probably killed al instances and then it worked fine when I tri

[2019-04-02 21:36] garberw opened #617 "howto for fedora please correct."
### Installation info

- Version: ``1.3.2
- Install type: ``package
- Distro and version: ` `fedora 29

as root
$$ dnf install dunst
to use: as user not root
$ systemctl --user enable dunst.service
as root:
$$ cd /usr/share/dbus-1/services/
$$ ls org.knopwob.dunst.service
(is this below needed?)
$$ mv org.freedesktop.mate.Notifications.service org.freedesktop.mate.Notifications.service.orig
(disab

[2019-04-02 22:12] dr3mro commented on #615
Please restore markdown to Dunst again .. this update is very bad

[2019-04-02 23:24] BadWolf43 commented on #615
No longer use markdown? But why, please restore.

[2019-04-02 23:59] garberw commented on #617
from journalctl -b you can see that the service for dunst is started before the xserver, so no wonder it can not open the display: .........
did you write the service or did the fedora packagers ?  who would know this the best?

Apr 02 16:12:19 electron systemd[2050]: Listening on Sound System.
Apr 02 16:12:19 electron systemd[2050]: Listening on Multimedia System.
Apr 02 16:12:19 electron systemd

[2019-04-03 03:59] Squidamatron opened #618 "Markdown is broken"
Markdown fails to parse properly in the most recent release. Instead of showing bold text in the output, it will instead literally show `<b>text</b>` in the notification.

`dunst -print` differences between versions:
#### 1.3.2-2
[code]
#### 1.4.0
[code]

### Installation info

- Version: `1.4.0 (2019-03-30)`
- Install type: `package`
- Distro and version: `Arch`

[2019-04-03 08:12] tsipinakis commented on #614
This has been requested before, see #543. The code that handles the layout creation needs some cleanup and proper testing before anything can be changed there.

I'll get around to it someday, but as is usual in open source if you want to help PRs are always welcome.

[2019-04-03 08:24] tsipinakis commented on #618
Duplicate of #616.

Markup was disabled in the summary because it went against the notification spec and caused problems with some clients.

[code]
stills works.

[2019-04-03 08:24] #618 closed

[2019-04-03 08:26] tsipinakis commented on #615
@dr3mro @BadWolf43 See #616. Markup was disabled for the summary only.

[2019-04-03 08:26] #615 closed

[2019-04-03 08:29] tsipinakis commented on #617
Some notes:

Do not auto-start the dunst service, dbus should run dunst automatically when a notification is sent.

You also need to add the relevant variables to the systemd environment. In Debian this is done with
[code]
in a script placed in `/etc/X11/Xsession.d`. I'm not familiar with fedora so I can't help much here.

[2019-04-03 08:43] tsipinakis commented on #616
Seems like this change affected more users that I'd hoped, I'll keep this as the main issue to throw some ideas out for anyone looking for workarounds.

Current workarounds available with what's in 1.4.0:

* Move any links or necessary markup to the body of the notification instead
* If you need to modify the markup of the summary set up a rule to match that notification and override the format fr

[2019-04-03 08:53] #614 closed

[2019-04-03 12:05] zero77 opened #619 "[Feature Request] Github Notifications"
Can Github notifications support be added to dunst so, every time you get a notification on Github dunst should notify.
Thanks

[2019-04-03 12:27] xbruno opened #620 "Broken wrapping in 1.4.0"
Hello,
since the update to dunst 1.4.0-1, the dynamic width does not work.
Here with this example : notify-send 'hello' 'hello world - hello world'
<a href='http://pix.toile-libre.org/?img=1554294734.png'><img src='http://pix.toile-libre.org/upload/img/1554294734.png' /></a>
My dunstrc : https://pastebin.com/raw/ERgs9Z5c

- Version: 1.4.0-1
- Install type: pacman.
- Archlinux up to date.

Thanks

[2019-04-03 13:29] tsipinakis commented on #619
Hi,

Dunst is only the daemon part of the process i.e. the program that displays notification and not the one that generates them.

To fetch notifications from github you'd have to either write or find a addon/client that does so. Look for "Github desktop notifications" on google someone's bound to have written one already.

[2019-04-03 13:29] #619 closed

[2019-04-03 13:31] tsipinakis commented on #620
This works on my end what do you see broken?

The screenshot you posted doesn't appear to load.

[2019-04-03 13:47] xbruno commented on #620
The screenshot is on toile-libre.org and for the moment is '503 Service Unavailable'.

[2019-04-04 09:07] ghost opened #621 "Feature Req; Transparency with separator?"
Is this a thing? Whenever I turn on the separator it seems to have a colour where as I'd rather for it to be see-through.

[2019-04-08 13:09] tsipinakis commented on #621
Mostly a duplicate of #289. There's been an attempt to add this with #344 but failed due to some implementation details that we couldn't work around.

Another idea would be to have a separate window for each notification to create the same effect but haven't looked into it that much.

[2019-04-10 07:10] hjpotter92 commented on #611
I did yet another clean installation on a different machine. This time, for dunst; I noticed that the service was disabled.

Doing a `systemctl --user enable dunst` and then starting it fixed this.

[2019-04-10 08:17] tsipinakis commented on #611
Glad you fixed it, but this shouldn't have been necessary. We don't enable the service on purpose, dbus is supposed to start it automatically when a notification comes through.

[2019-04-14 17:06] yurivict opened #623 "The optional 'dunstify' executable isn't installed"
Please add it to the 'install' target when built.

[2019-04-15 09:18] tsipinakis commented on #623
Are you requesting this because the downstream distro you're using doesn't include dunstify or because you're building from source and want to install dunstify globally?

Dunstify doesn't do anything dunst-specific and should work with any notification daemon so I'm of the opinion that it should be packaged separately in distributions if at all. (Separate binary-package in debian terminology). I d

[2019-04-15 12:37] gergesh opened #624 "Extra line on notifications of certain length"
Can be seen here
![20190415_153017](https://user-images.githubusercontent.com/17929140/56133016-201bc480-5f94-11e9-9327-4e5c390ca210.png)

My configuration:
[code]
### Installation info
- Version: `1.4.0 (2019-03-30)`
- Install type: `Package`
- Distro and version: `Arch`

[2019-04-15 13:37] tsipinakis commented on #620
Took a while to get to this but I wanted to find time to actually set up an Arch environment to try to reproduce this myself but I was entirely unsuccessful. Your dunstrc works fine both in Debian and in Arch for me.

Does reverting to 1.3 fix this?

Can you run a git bisect to determine the commit that caused this? Feel free to ask if you need help with this.

[2019-04-15 13:39] tsipinakis commented on #624
This looks like #620 but not quite as you're not using dynamic width.

As with #620 I couldn't reproduce this neither in Debian nor in an Arch VM.

The the same questions I asked there apply:

* Does reverting to 1.3 fix this?

* Can you run a git bisect to determine the commit that broke it?

[2019-04-15 14:11] gergesh commented on #624
I reverted to v1.3, v1.2.0-173-g0c8d3a4 and v0.5.0-105-ga1374ff, all of them have this issue.

[2019-04-15 19:28] xbruno commented on #620
I reverted to 1.3.2-2 and dunst works fine.
<a href='http://pix.toile-libre.org/?img=1555356481.png'><img src='http://pix.toile-libre.org/upload/thumb/1555356481.png' /></a>
I look for run a git bisect.

[2019-04-16 11:37] xbruno commented on #620
I have installed git and try.
can you tell me what to do?

[2019-04-16 13:37] tsipinakis commented on #620
First clone & make sure you can compile dunst, run:
[code]
Make sure that this starts dunst up and it works, then do the following to find what broke it:

First start the bisect with:
[code]

Then to do the actual bisect do
[code]
Here send a notification from another terminal to see if the issue exists and run `git bisect bad` if it's broken or `git bisect good` if it's not.

Repeat the last 3 co

[2019-04-16 15:18] tsipinakis commented on #624
Reproduced on Arch with DPI set to 114.

I traced the code for a bit and my assumption is that this is something to do with pangocairo `pango_layout_is_wrapped()` returns true which most likely means pango is thinking that another line is needed when it isn't

I can't reproduce this on Debian but can in Arch, even if I downgrade Arch to pango `1.42.4` which is the version that's also in debian the

[2019-04-16 20:02] xbruno commented on #620
thank you for explanation.
Result:
4f510e170366862f52043db8d5a40872b07c1ea2 is the first bad commit
commit 4f510e170366862f52043db8d5a40872b07c1ea2
Author: Benedikt Heine <bebe@bebehei.de>
Date:   Mon Feb 25 19:01:34 2019 +0100

[2019-04-18 12:15] gergesh commented on #624
I'm pretty sure it was always there (well, at least for the couple of years I've been using dunst)

[2019-04-21 08:47] stefanhusmann commented on #624
I think this problam appeared in version 1.4.0, falling back to 1.3.2 solves it for me.

[2019-04-22 07:08] hg8 commented on #620
_For those who need it you can downgrade to `1.3.2.2` on Arch Linux using :_

[code]

---

I have the same issue, but could not solve it by downgrading. The issue seemed to be linked to the font used.

`font = Iosevka 8`
![2019-04-22-085832_505x131_scrot](https://user-images.githubusercontent.com/9076747/56488088-a036b280-64dd-11e9-82ab-4953c053716f.png)

`font = Hack 8`
![2019-04-22-090142_541x11

[2019-04-22 07:59] tsipinakis commented on #620
The biggest change in the commit @xbruno pointed at is that we no longer assume DPI is 96 and calculate it from the screen dimensions by default.

@xbruno Can you try running:
[code]

and restart dunst, does that fix it?

If so, I believe the issue is in older versions of dunst as well but the dpi change simply revealed it.

[2019-04-22 08:29] tsipinakis commented on #620
I just tried installing Iosevka on Arch but still cannot reproduce this with the given notification.

Can you upload your full dunstrc as well?

Also can you build https://github.com/tsipinakis/dunst/commit/9935eb26e31eb2b441ab215cc1d446591a11381e, run dunst with `-verbosity debug` and upload the output? This is to find out the DPI as I suspect this has something to do with it.

[2019-04-22 09:21] hg8 commented on #620
Here is my [dunstrc](https://pastebin.com/raw/LEtb49px).

I have `Xft.dpi: 220` in my `.Xresources` file.

[code]

The output is the same with whatever font I use.

[2019-04-22 10:45] xbruno commented on #620
I run :
echo "Xft.dpi: 96" | xrdb -merge
and now dunst 1.4.0-1 works fine.

[2019-04-22 14:53] tsipinakis commented on #620
Weird. @hg8 can you also run a bisect and see what that gives?

[2019-04-23 02:36] hg8 commented on #620
@tsipinakis Maybe I should open a different issue ? I now think my problem is different, and I could not get to reproduce it with any other than font `Iosevka`. It's strange.

That's not needed, even at [`1.2.0`](https://github.com/dunst-project/dunst/tree/v1.2.0) I can reproduce the issue.

[2019-04-23 18:34] tsipinakis commented on #620
@hg8 Did this start happening recently or did you just discover it now?
There's also #624. As I've said there I have a feeling this is something to do with pango, our font rendering library.

It just seems weird that 4-5 people have similar but not quite the same issue at the same time - seemingly not tied to dunsts version.

[2019-04-23 18:35] tsipinakis commented on #624
@stefanhusmann Between 1.3 and 1.4 we changed to dynamically calculate DPI instead of assuming it's 96. Does running
[code]
And restarting dunst fix this for you?

See also #620 I'm still trying to find out if these 2 are related.

[2019-04-24 02:57] hg8 commented on #620
@tsipinakis

I just started to use Dunst 2 days ago so I can't tell if it was working before.

---

Well now I have to say I am completely at loss...
After a reboot the issue is back on `Hack` font :
![2019-04-24-044052_487x99_scrot](https://user-images.githubusercontent.com/9076747/56628991-37ba1380-664c-11e9-9b1f-a39b4d178ddf.png)

So I tried to switch to `Iosevka` font and ....
![2019-04-24-044

[2019-04-24 02:59] ghost opened #625 "Set maximum notification height"
Not an issue, question

Is there a way to cut off text instead of displaying all of the text?
It can be quite cumbersome to display a whole stupidly long message :/

[2019-04-24 09:42] stefanhusmann commented on #624
No, setting Xft.dpi to 96 does not change anything.

I know #620, maybe I should have left my comment there?

[2019-04-24 10:04] stefanhusmann commented on #624
Edit: my xrdb does not understand the parameter "merge", but without it, the problem goes away.

[2019-04-25 15:13] tsipinakis commented on #625
There isn't currently. The closest thing is the {`DUNST_NOTIF_MAX_CHARS`](https://github.com/dunst-project/dunst/blob/977a7a7ea47f2d86ea3168e609576ebeb0ffa719/src/notification.h#L11) but that's set at compile time and it's there more to prevent a client making dunst hog the CPU by sending a giant notification.

That being said I wouldn't mind adding such a feature with if there is a convincing use

[2019-04-26 16:05] BlackCapCoder opened #626 "Trailing comments are no longer accepted"
If a line in the config file ends with a comment it is ignored. This is a regression from the last version I had of dunst, whatever that was (I'm on Arch Linux).

[code]

[code]

Visually dunst pops up with both the foreground and background color being black.

The reason this is causing me issues is that I have this tucked away in a script somewhere:
[code]

IE: It is useful to have those trailin

[2019-04-27 08:08] tsipinakis commented on #626
The broken commit is 6cc7ca361aae2b98c3ab6d7ec2b650c425ffbc4e.

@BlackCapCoder Can you try compiling and testing https://github.com/tsipinakis/dunst/commit/d6bd50666947af2d9da7f6db186104d337cb43a5 to verify it also works for you? (and that I didn't break anything else in the process ;) )

Here's what I found by digging around in the source for future explorers:

The warning was already there in 1.

[2019-04-27 10:49] prankousky commented on #45
+1 I use full width notifications as well, but working with multiple monitors still makes it hard to notice them sometimes.

[2019-04-27 16:53] BlackCapCoder commented on #626
@tsipinakis It works for me!

[2019-04-28 04:51] goose121 opened #627 "Notification window hidden behind other windows in StumpWM when switching groups"
Version: 1.3.2
Install type: AUR
Distro and version: Artix Linux
Window manager: StumpWM (master branch)
When you switch groups (i.e. workspaces) in StumpWM, the dunst notification window, if it's open, gets buried behind the other windows in the group, and will not raise back above them until the existing window is closed by dismissing all notifications. This seems like it may be tangentially rel

[2019-04-28 08:36] tsipinakis commented on #627
Thanks for the report!
I'll have to try and setup StumpWM to see what's happening there exactly. I'll report back here when I get some time to do it.

In the meantime, can you try installing 1.4.0? (should be in the arch repos already) The fixes that were mentioned in #160 is not included in 1.3.

[2019-04-29 06:05] FeintGS commented on #486
Agreed, I can totally understand why people would be driven nuts by a limitation in the current limitation like this. For future readers who are looking for a solution to this problem, here's a workaround hack you can use. Basically, what you do is trick dunst into preserving the leading/trailing whitespace in your string by using a "pseudo" space character. This way, you can vertically top-align

[2019-04-29 17:37] goose121 commented on #627
I tried installing 1.4.0, but the behaviour persists.

[2019-04-30 08:23] #626 closed

[2019-05-02 09:12] PMunch opened #628 "Automatic width broken on 1.4"
After updating to 1.4.0 I noticed that my old geometry of `-50x0+25+-1` had stopped working. Poking around I found that it was the `-50` that caused the issue as it would no longer be the full width of the monitor minus 50 pixels.

So it seems like something to do with monitor width detection, or the logic surrounding negative numbers in geometry might be broken.

[2019-05-02 09:36] tsipinakis commented on #628
Ok, that was a pretty stupid mistake on my part. The bug comes from https://github.com/dunst-project/dunst/commit/a7fd3cb0ec9255ff5bc13cc614b714e946fda122

In `x_parse_geometry` I'm marking that there's a negative width in the `settings.geometry` rather than the `geometry` struct that is being constructed.

I guess that's the price to pay for doing a major refactor in an untested part of the code,

[2019-05-02 09:37] #628 closed

[2019-05-14 16:46] schattenkrieger opened #629 "Follow link to Youtube from notification"
Hello everyone,

not really a bug but dont know where i can find any information of if it possible at all.
I have allowed youtuble to display notifications via google chrome. they are nicely rendered via dunst, but i have not found a way to actually go to the mentioned video via the notification. Via the context menu i can open chrome with the youtube page, but just the normal landig page. is ther

[2019-05-15 12:25] tsipinakis commented on #629
Hi,

The only 2 options I can think of to do that is via the context menu as you mentioned. So either youtube includes the URL somewhere on the notification or youtube again defines an action to open that specific video.

You can use `dunst -print` to see all the information the client is sending us on stdout. Nothing else we can do if we don't have something to reference the video.

The only way

[2019-05-16 10:48] #623 closed

[2019-05-21 12:23] deceptikon opened #630 "dunst crashes periodically"
I run dunst on manjaro, installed it from community packages.
Last few weeks I observe periodical crashes, as I guess, caused by Slack notifications.
Error is as following:

Warning about flameshot is unrelated to crash, it occured some time before it crashed.

Will append dbus-monitor log later, when the error occurs again.

[2019-05-22 13:54] tsipinakis commented on #630
Hi,

Can't really say why it happened from the error posted.

As you said the dbus-monitor log when it happens would be great and additionally if you can, it would also be useful to get a backtrace from the crash.
For that, ensure that you have the debug symbols installed and run dunst as `gdb -ex run dunst -ex bt` in order to get where exactly it crashes.

[2019-05-22 15:01] tsipinakis commented on #613
I apologize for the unreasonably huge delay on this issue, finally got some time to figure this one out.

The problem is the following:
We check whether there is a fullscreen window available every time one of the following events is sent: `FocusIn`, `FocusOut`, `PropertyNotify`.
In my WM (i3) I observe that the following events are sent:
[code]
However, with IceWM the above events are only sent w

[2019-05-22 16:19] tsipinakis commented on #613
I've opened an issue on IceWm's repo as well, monitor bbidulock/icewm#347.

[2019-05-24 09:12] BigfootN opened #631 "Display image"
Hello,

I would like to know if dunst supports the display of images (album arts to be more specific) ?

Where the path of the image would be sent and the image then displayed ? (not icons)

Something like:

- My dunst version:  `Dunst - A customizable and lightweight notification-daemon 1.4.0 (2019-03-30)`
- Install type: `aur`
- Distribution: `Archlinux`

Thank you very much in advance.

[2019-05-24 11:22] tsipinakis commented on #631
Hi,

While the notification spec does list an optional `<img>` html tag it's currently not implemented in dunst. (Although the URL will be included in the context menu). The most common way to get around to it is via icons which you can either send a path for dunst to read, or send the icon itself if you have a file that is being updated.

I'm open to discussion about implementing it though, what

[2019-05-24 16:16] BigfootN commented on #631
Thank you for your quick response.

To answer your question, like I said, I wish to display the album arts/cover of the music playing. I'm thinking something like being able to extract the image from the music path (save it in some temporary place) and pass the path to dunst in order to display it. (Just a thought)

Thank you for your precious help.

[2019-05-25 06:54] tsipinakis commented on #631
That's definitely doable with icons and some scripting.

With plain `notify-send` you can do `notify-send -i /path/to/icon Summary Body`. However if you're going to be updating the same image in-place it's better to use `dunstify -I` as dunst re-reads the file under some circumstanced and that could also update the icon on older notifications. See #539.

[2019-05-26 06:12] Legogris opened #632 "Notification all black on Arch with Xmonad"
I unfortunately don't remember when this started happening, but in a previously working environment dunst is now all black. I think this is different from #225 et al - the time period, size and position matches what I would expect but instead of a notification it's just an all-black box.

### Installation info

- Version: `Dunst - A customizable and lightweight notification-daemon 1.4.0 (2019-03-3

[2019-05-26 08:36] BigfootN commented on #631
Hello,

Thank you for your response. I tried to use:

`dunstify -I /path/to/icon/icon.svg "test summary"` (the icon size is `32x32`)

But I only get the notification with `test summary` without the icon.

Thank you very much in advance for any help.

[2019-05-26 10:09] personinblack commented on #632
I have this same stuff for like a month except it is not black but my wallpaper instead. It makes the window behind it invisible. To fix this problem I have to restart Dunst periodically.

Here is a screenshot (notice the bottom right).

![834](https://user-images.githubusercontent.com/24732321/58380219-4f701900-7fb7-11e9-9f1d-45dcdb79ebd3.png)

**Installation info**

- Version: `Dunst - A customi

[2019-05-26 10:29] tsipinakis commented on #631
You'll have to enable icons in the config, they're off by default. set `icon_position` to `left` or `right` depending on your preference.

[2019-05-26 10:32] tsipinakis commented on #632
Huh, that's weird. Can either of you run build from source and run a bisect to see which change broke it?

[2019-05-26 10:40] personinblack commented on #632
Well the thing is I don't know what triggers this stuff :/ So I can't just go through the history and wait for it to happen but I will try.

[2019-05-26 10:48] tsipinakis commented on #632
Oh, from the original issue I thought this was something predictably reproducible on your setup. This is going to be tricky to debug otherwise :/.

I do have one theory on the cause though. Can you try using https://github.com/tsipinakis/dunst/commit/c5b5b0a914aa145ea2e617c84e608f2a6e833544, see if that fixes it?

[2019-05-26 10:52] personinblack commented on #632
I'm going to try this and report back in a few hours. Thanks!

[2019-05-26 11:07] sarneeh opened #633 "Doesn't work with Chromium"
I've been fighting the whole day to make `dunst` work with `chromium` but no success :cry: So I thought that maybe you guys could help me somehow out.

### What's the problem? What's the situation?
- `dunst` generally works
- it displays notifications from `notify-send "test message"`
- it displays notifications from `Firefox`
- unfortunately, in Chromium, the notifications are Chromium-like (not

[2019-05-26 11:13] tsipinakis commented on #633
Hi!

This is obviously not an issue with dunst as it's something to do with the chromium<-> dbus communication side. But I'd be happy to help you debug it the best I can

Firstly, take a look at a previous discussion in #375 you'll have to do some hacking to get chrome to even attempt to use the native daemon.

This looks like there's something up with the bus address, if the issue I linked above

[2019-05-26 11:25] sarneeh commented on #633
@tsipinakis Thank you very much for wanting to help! I really appreciate that!

I've just edited my post as I forgot to mention that I've tried already to force Chromium to use native notifications via the flag.

I thought about this but I actually can't believe that I'm the only one with this kind of issue as I couldn't find any related problems in the Chromium bug tracker.

That's interesting. I

[2019-05-26 11:32] sarneeh commented on #633
@tsipinakis You are my hero! Exporting a `DBUS_SESSION_BUS_ADDRESS` variable (via `export $(dbus-launch)`) made it work! How can I thank you for this? I literally spent a day debugging this issue! :smile: Thank you!

[2019-05-26 11:32] #633 closed

[2019-05-26 12:20] tsipinakis commented on #633
No need, glad I could help! :)

[2019-05-26 13:50] BigfootN commented on #631
Thank you very much :)

[2019-05-26 13:50] #631 closed

[2019-05-26 17:04] personinblack commented on #632
It's been 6 hours and I haven't experienced any problems at all. I believe this fixes the problem. Thank you @tsipinakis.

[2019-05-27 05:22] deceptikon commented on #630
Hi Nikos,

Attaching obtained logs:

[2019-05-27 05:23] deceptikon commented on #630
Please let me know if I can assist in any other way

[2019-05-27 16:04] personinblack commented on #632
Here I am after a day. The problem is back :( I'm still running the bugfix.

[2019-05-27 20:45] Legogris commented on #632
I am a couple of hours in and so far so good.

[2019-05-28 08:01] personinblack commented on #632
@Legogris, if we are having the same problem, the problem should come back after a reboot. If not, I have to open up a new issue and try to run a bisect.

[2019-05-28 12:22] nikarh commented on #392
It would still be nice to have min_icon_size for icon themes consisting solely of SVG images (such as https://github.com/daniruiz/flat-remix).

[2019-05-29 11:13] tsipinakis commented on #630
Unfortunately that log didn't give me anything. However, looking at the code it seems like the only place that can produce a BadValue error is the window positioning logic.

Can you build https://github.com/tsipinakis/dunst/commit/232b5505607fa32456e80d9fb0f2351f990fd4c7 with `make debug` (make sure to make clean first to re-build all the objects) and post the output after the crash?

Also, is thi

[2019-05-29 11:19] Legogris commented on #632
This is exactly what happened. Fresh reboot, all black again.

[2019-05-29 15:02] tsipinakis commented on #632
Just to double check, after the reboot you are running the patched version, right? And not letting dbus auto-start the older one?

[2019-05-29 19:32] personinblack commented on #632
I have the older one removed. My i3 config auto starts the patched one. I will try to run a bisect but I'm too busy with school at the moment :/ Hopefully it will be finished after this week.

[2019-05-29 21:59] machinedgod opened #634 "Dunstify in crontab"
Hi all,
I have a crontab running a custom script, that calls `dunstify` to report some data, and its not working. The error I get is the following:
[code]
This is the list of things I've tried:
* making sure that `DISPLAY` env is set up properly, by replacing `dunstify` call with `xmessage` (which works fine)
* searching (DuckDuckGo) for "crontab dunst" (no useful results)
* using `env -i` and gra

[2019-05-30 03:15] DragonGhost7 commented on #630
I get the same error, but it happens each time i use pywal for some reason

[2019-05-30 13:21] tsipinakis commented on #634
Hi, thanks for the detailed report!

I am doing something similar myself, the only thing that was needed was defining `DBUS_SESSION_BUS_ADDRESS` in the cron file, have you tried that?

[2019-05-30 14:59] tsipinakis commented on #630
@DragonGhost7 Does the fix linked above work?
If not, I'd appreciate if you could run a bisect to figure out where it's coming from. I can't reproduce this myself to investigate further unfortunately.

[2019-05-30 15:40] machinedgod commented on #634
I try my best not to waste other people's time :-)

I have not tried previously with `DBUS_SESSION_BUS_ADDRESS`, I wasn't even aware of the existence of this variable. I copied the value from what my shell gives (seems its related to uid, so I guess its OK).
Works like a charm!

Thanks for your help, here's the crontab entry just in case someone stumbles upon here and needs a quick solution:
[code

[2019-05-30 15:41] #634 closed

[2019-05-30 19:21] DragonGhost7 commented on #630
Hello @tsipinakis , here are my debug log and and dbus-monitor output.

[dbus-monitor.log](https://github.com/dunst-project/dunst/files/3238433/dbus-monitor.log)
[debug.log](https://github.com/dunst-project/dunst/files/3238434/debug.log)

I'm still not sure how to bisect it but I will be figuring out how to do it now.

[2019-05-30 19:27] tsipinakis commented on #630
Unfortunately that log doesn't say much. What I meant was compiling from https://github.com/tsipinakis/dunst/commit/232b5505607fa32456e80d9fb0f2351f990fd4c7 that adds some extra output in order to get information relevant to this.

In a nutshell:
[code]

And post the output when the crash happens, it should hopefully provide enough information to track this down.

Additionally doing a bisect would

[2019-05-30 20:08] DragonGhost7 commented on #630
Hello @tsipinakis , your comment was rather helpfull.
Here is the bad commit.

[bisect.log](https://github.com/dunst-project/dunst/files/3238592/bisect.log)

[2019-05-31 12:53] bebehei opened #635 "Dunst downstream on Debian"
On Debian, the dunst package isn't updated to match the 1.4.0. release. As Michael Stapelberg is the current maintainer of the dunst debian package but [actually resigned in the Debian project](https://michael.stapelberg.ch/posts/2019-03-10-debian-winding-down/). I guess someone should embrace the fact and care about the package.

[2019-05-31 14:57] tsipinakis commented on #635
Welcome back! :)

Debian testing is currently is freeze so it's normal for sid to lag behind, non-urgent bugfixes have to go through sid first so maintainers usually hold off on new versions in this period. Additionally, Stapelberg hasn't filed any RFAs or orphaned any packages yet.

In any case, I already maintain newsboat in Debian so it'd be logical for me to pick up dunst as well if no-one els

[2019-06-11 16:46] bugeats commented on #336
All I want is the ability to center messages.

[2019-06-11 18:21] seletskiy commented on #336
@bugeats try to build & use `dunst` from this branch: https://github.com/dunst-project/dunst/tree/centering

[2019-06-12 09:21] ElieLP commented on #632
Same bug for me, I don't know if it's related but it happened the approximately when I changed colors in :
[code]

Environnement :

- Version : `Dunst - A customizable and lightweight notification-daemon 1.4.0 (2019-03-30)`
- Install type: `pacman`
- Distro and version: `Arch Linux`
- Window manager : `i3 version 4.16.1 (2019-01-27) © 2009 Michael Stapelberg and contributors`

[2019-06-12 11:30] Legogris commented on #632
Correct.

[2019-06-12 13:07] ckipp01 commented on #445
Hey! Thanks for all the work on this. I've seen this issue linked from quite a few others. Is there a status update on the ability to be able to query whether or not dunst is paused or not? I've recently switched to dunst and normally just have a toggle switch to switch on or off notifications. It's sort of killing me that there seemingly isn't a good way to query for that info in dunst.

[2019-06-18 10:38] wioo opened #636 "Max number of characters"
Hello guys.
If I want to print my notification
e.g
[code]

it prints only 5000 characters and also messes up markup if used because there is no </> at the end

[code]

I think it would be good if user would have option to turn off this "#define .." in dunstrc or possibly change value.

[2019-06-18 11:21] #636 closed

[2019-06-18 11:21] tsipinakis commented on #636
The 5000 character limit was chosen arbitrarily to prevent a client hogging up the CPU by sending a huge notification, it shouldn't be a functional limit that anyone runs into.

I've bumped it to 50.000 characters now so it shouldn't be a problem anymore.

[2019-06-18 11:22] wioo commented on #636
That was fast.
Thanks

[2019-06-18 16:33] tsipinakis commented on #630
Excuse the inactivity on this, real life caught up with me.

@DragonGhost7 Since you can reproduce this reliably as you said can you try to get a minimal pywal config that causes this so that I can reproduce this on my side as well?

[2019-06-18 16:37] DragonGhost7 commented on #630
Hello, while this time i realizes that the problem is in fact caused by xrdb.

[2019-06-18 16:37] tsipinakis commented on #445
Not much to update, it's on the roadmap but the progress is only what you see on the branch above. I'm not sure if @bebehei is still planning to work on this.

[2019-06-18 16:37] #629 closed

[2019-06-18 16:40] tsipinakis commented on #630
I figured as much given that the commit the bisect pointed at is supposed to respond to xrdb calls. Could you be specific with what xrdb command you are running?

Additionally: What's the output of `xrdb -root -spy` while running that command?

[2019-06-18 16:45] DragonGhost7 commented on #630
I use `xrdb .Xdefaults` and the output of `xprop -root -spy` is

[code]

[2019-06-18 18:04] tsipinakis commented on #630
The xprop output looks about what I'd expect. But at least we got a cause. I still can't reproduce this, xrdb works properly :/.

Can you clone `https://github.com/tsipinakis/dunst` and build from the `debug-log` branch and post the output? That should confirm if my earlier theory of the crash being in the window positioning logic is right.

[2019-06-18 18:30] DragonGhost7 commented on #630
I did, and here`s output

[code]

[2019-06-18 18:39] tsipinakis commented on #630
There it is, somewhere along the drawing chain we're getting a 0 on the window height.

I'll sign off for today, I'll add some more debug output to try to narrow this down further tomorrow.

Until then, have you tried using the [default dunstrc](https://github.com/dunst-project/dunst/blob/master/dunstrc) rather than your own to see if it still happens?

[2019-06-18 18:46] DragonGhost7 commented on #630
Yes i just did, and there is no issue.

[2019-06-18 18:48] tsipinakis commented on #630
Oh, that's a bit hint could you post your dunstrc?

[2019-06-18 18:58] DragonGhost7 commented on #630
Here it is.
Also, if `separator_height` is changed from 0 to anything else, the issue also dissapears.

[code]

[2019-06-18 19:08] tsipinakis commented on #630
Reproduced, I'll look more into this tomorrow.

[2019-06-18 19:17] DragonGhost7 commented on #630
Thanks a lot !

[2019-06-19 07:58] tsipinakis commented on #630
Weirdly the crash isn't inside `draw()` as I expected, it crashes inside `get_focused_window()` _after_ a call to draw with no available notifications. I have no clue why but fixing that call seems to do it.

@DragonGhost7 Can you build https://github.com/tsipinakis/dunst/commit/1c56bbbe4981ecbbd6fb21cf96d1d19e8a9b067a, confirm this fixes the issue?

[2019-06-19 14:13] DragonGhost7 commented on #630
Build functional, issue has disappeared. `xrdb` command doesnt crash it anymore.

[2019-06-20 09:50] tsipinakis commented on #635
Dunst was [orphaned](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930310) and I've marked my intent to adopt it.

I'll package 1.4 and take over the package after the release of buster. I don't think there's any reason to keep this issue open.

[2019-06-20 09:50] #635 closed

[2019-06-20 12:24] tsipinakis opened #637 "Find a better way to detect fullscreen changes"
References: #630, bbidulock/icewm#347

As mentioned in the issues above we're currently relying on the window manager to send either a `PropertyNotify` or `ConfigureNotify` on the root window in order to update the fullscreen status, to hide and show notifications as appropriate.

However, this isn't directly EWMH compliant. And unfortunately from my research there is no simple way to do this with

[2019-06-20 12:27] #630 closed

[2019-06-20 12:27] #613 closed

[2019-06-20 12:30] tsipinakis commented on #613
I've put together a band-aid solution by forcing dunst to update the fullscreen status on `ConfigureNotify` events. It seems to work just fine in this case and hopefully all others.

This is not a proper fix however. I've opened #637 to try and work out a better one at a later date.

[2019-06-20 23:33] Ryuuji159 commented on #632
Im having the same problem as him, dunst show transparent with notifications coming from laravel-mix, here is a screenshot
![1561073536](https://user-images.githubusercontent.com/17039188/59887659-38440180-9392-11e9-86fa-405a725cd162.png)

[2019-06-21 04:31] tsipinakis commented on #632
@Ryuuji159 and all others that reported this: Is this perfectly reproduce-able with a specific notification or does it happen at random times?

Could you also post your dunstrc and the output of `dbus-monitor` when a notification that causes it to happen goes through?

[2019-06-21 16:08] bebehei commented on #445
Yes, I had been on it. But in the meantime, I actually don't know whether I'm finishing the client side in C. The current architecture for the client is ugly. I'd actually prefer Python for the client (or have a try with Rust).

On the server side, the problems are solved and the architecture is clear. The intended feature set is not yet implemented on the server side, but that's an easy game.

[2019-06-23 17:06] Ryuuji159 commented on #632
Sorry for the late response here is the output of dbus-monitor

[code]

And my dunstrc
[code]

[2019-06-24 23:39] parkerlreed commented on #575
Plasma 5.16

[code]

So it seems the destination dies before receiving the response.

gdb for dunstify

[code]

[2019-06-25 04:18] tsipinakis commented on #575
Indeed, but there's something more weirder with the sender/destinations here.
From the first message we have `sender=:1.292 -> destination=:1.285` so `1.292` is dunstify and `1.285` is the notification daemon.

But right after that there's

[code]

Looks like _two_ daemons replied separately with a notification id? I'm really not sure how that is possible since from my understanding the daemon tha

[2019-06-25 14:47] parkerlreed commented on #575
Yeah that's odd. I'm using the Plasma notifications without using dunst. Is dunstify attempting to run dunst daemon also (the second daemon that shows up)?

Other than that I'm not sure what could be up. (I'm in the boat that I just want action buttons on my notification and dunstify is the only thing that even comes close to working)

EDIT: I just tried on my home desktop (Same Arch/Plasma setup)

[2019-06-25 16:19] parkerlreed commented on #575
I figured out the culprit on my end. KDE Connect registers as another notification listener/service. As noted above, it seems to send an extra response which throws off dunstify.

Disconnecting KDE Connect on the laptop allow dunstify with actions to work properly.

Not sure if OP might have been having the same issue.

[2019-06-27 12:44] donbex opened #638 "Allow setting 'icon_position' and 'max_icon_size' via rules"
I would like to enable displaying icons only for some notifications, or at least to be able to change the maximum allowed icon size on a rule basis. However, as of `v1.4.0-10-gac94eca`, neither `icon_position` nor `max_icon_size` can be set via rules.

My specific use case is showing album art in "now playing" notifications, but suppress (or at least reduce the size of) all other icons. I guess I

[2019-06-27 17:05] tsipinakis commented on #575
Glad you could solve it!
@xPMo Ping also, if you're still having this issue, this might be it.

I'd recommend reporting this to the KDE bug tracker to get an opinion from them and/or a proper fix. For dunstify we're using the standard libnotify library which means other programs can misbehave in similar ways with this issue.

[2019-06-28 18:24] tsipinakis commented on #638
I agree this and a more dynamic layout in general would be nice to have.

The basic implementation of this is pretty simple, and would probably work in most cases but the code that handles the notification layout is currently a bit outdated and without any tests so I'm hesitant to add this immediately without a lot of testing and/or refactoring. That being said I'd accept a PR if someone wants to

[2019-06-30 00:31] mattyrc opened #639 "Script option with flags"
I've created a simple bash script that plays an audio file when a rule matches. The script will play the type of audio file depending on the flag that is called (sound.sh --message, --alert, --email etc). The issue is that it seems I can't pass a flag when calling the script in a rule. For example:
[code]
I've also tried with quotation marks but no luck. Am I doing this wrong or is there no way to

[2019-06-30 04:22] tsipinakis commented on #639
Flags can't be used because as it's said in the manpage we pass the notification details to the script via the paramaters.

The script will be called like this:
[code]

Your best bet would be to do the filtering on the script side based on the appname.

Perhaps we should support some more flexibility here, allowing flags and having the user decide which parameters to pass.

[2019-06-30 06:33] mattyrc commented on #639
Oh I see.

I'm not really sure how to go about doing the filtering from the script as many of my rules are also matched from the summary as the appname is often just a notify-send.

Do you happen to know of any examples that you can point me to for how this could be done?

Thanks

[2019-06-30 06:49] tsipinakis commented on #639
Something like this should work for what you're describing:
[code]
Add if statements as needed.

[2019-06-30 07:09] meribold commented on #616
I have a lot of notifications similar to this:

    notify-send $'<small>MPD: now playing</small>\nSong Title'

Is it still possible to get the this kind of formatting in Dunst 1.4.0?  I tried to add an empty summary and move everything to the notification body:

    notify-send '' $'<small>MPD: now playing</small>\nSong Title'

However, notify-send refuses to use an empty summary. OTOH, dunstify

[2019-06-30 07:14] mattyrc commented on #639
Great. I'll give it a shot tomorrow.

Thank you very much for the help!

[2019-06-30 07:24] tsipinakis commented on #616
From my tests this seems to depend on the format, for example with `<b>%s</b>%b` as the format I can't see any indentations but with the default format for example there is an empty line at the start of the notification.

Given that you want a modifier on the entire summary you could add a rule like this.

[code]
The difference here is that the format declaration is separated from the actual data

[2019-06-30 07:35] meribold commented on #616
I think your suggestion will indeed work for my use case. I don't have any strong opinion about whether it would be nicer to do this with something like

    notify-send --format '<b><small>%s</small></b>\n%b' ...`

Thank you for the suggestion (and your work on Dunst)!

[2019-07-02 21:35] Yamboy1 opened #640 "If window width is 0, I can't set max_icon_size"
If I try and set max_icon_size while window width is 0, max_icon_size gets reset to 0

Output from `dunst -print`:
[code]
I'm setting the window width to 0 because i want the notification to not be squished, but I still don't want huge icons.

### Installation info

- Version: `1.4.0 (2019-03-30)`
- Install type: `package`
- Distro and version: `Arch Linux ARM`

[2019-07-03 06:24] tsipinakis commented on #640
This is a duplicate of #614. Already fixed in master, I'll put out a bugfix release for this and a few other issues shortly.

Thanks for the report either way!

[2019-07-03 06:24] #640 closed

[2019-07-03 23:28] mattyrc commented on #639
I was able to filter all of my rules through a script like you suggested using the appname, summary or body.

Feel free to close this issue if you'd like.

Thanks again for your help.

[2019-07-04 07:02] tsipinakis commented on #639
Happy I could help.

If anyone needs the flag feature mentioned feel free to comment here and I'll re-open this. Or open a new issue entirely.

[2019-07-04 07:02] #639 closed

[2019-07-08 16:45] Rahov opened #641 "WhatsApp icons not showing or replaced with 'dialog-information'"
### Installation info

- Version: `1.4.1-1 (installed on 07-Jul-2019)`
- Install type: `package via pacman`
- Distro and version: `Arch Linux (kernel 4.19.57-1-lts)`
- Desktop Environment: `i3-gaps (4.16.1-1)`

### Issue:

Icons from WhatsApp are ignored or replaced with the 'dialog-information' icon.
This issue is similar to #394, where the `raw icon set:` was `false` as it is in my case. However

[2019-07-08 17:04] tsipinakis commented on #641
Huh, for some reason in the spotify output it didn't show the Notify call, that's some unrelated dbus command - weird.
But it doesn't really matter, from the output of the first command looks like firefox is neither giving us a icon file to load nor sending us an icon directly, there is nothing we can do in this case.

Some wild speculation: I'm pretty sure firefox has some built-in notification h

[2019-07-08 17:53] Rahov commented on #641
That is a fair point, I've yet to test out if the issue will persist with google-chrome.

In regards to the speculation, I believe you're right based on the fact that discord would not show any notifications, which was why I decided to try out dunst. Previously notifications would show me the profile icon of the sender on whatsapp, which is what I was expecting from dunst as well.

In any case, th

[2019-07-08 18:15] tsipinakis commented on #641
So, for me the debugging process would be like this:
First uninstall dunst and recreate the old notification you were used to seeing. Using a tool like `xprop` identify which application it is that it's displaying it.

If it's firefox there is nothing else that can be done as that means it's using the icon for its own notifications but is not sending it to other daemons (maybe a fallback). Perhaps

[2019-07-08 18:24] Rahov commented on #641
Nor problem my dude, thanks for helping out.

[2019-07-08 18:24] #641 closed

[2019-07-15 21:48] afk-mario opened #642 "Doesn't grab QT system tray message."
Don't really know if this is a QT issue or a dunst issue, but all notifications from [ripcord](https://cancel.fm/ripcord/) are showing up on the system tray instead on using dunst.

Seems to be the same issue described here

https://forum.qt.io/topic/80645/qt-not-using-the-system-notification-daemon

### Installation info

- Version: ` 1.4.1 (2019-07-03)`
- Install type: `pacman`
- Distro and vers

[2019-07-16 05:33] tsipinakis commented on #642
Is ripcord open source? I can't seem to find the source to analyze what it's doing. In either case dunst uses the standard dbus notification interface. There aren't any alternatives as far as I know.

Could you post the output of `dbus-monitor` while a notification from ripcord goes through?

If it doesn't output anything it probably means it isn't using the standard bus and there isn't much we ca

[2019-07-16 05:57] bebehei commented on #642
ripcord doesn't support libnotify notifications:

https://dev.cancel.fm/tktview?name=8c6b205df0

I guess this can get closed.

[2019-07-16 06:01] tsipinakis commented on #642
Something weird is going on here though. From the linked issue

And the linked code right after directly references the gnome notification spec. So Qt does support sending notifications over the bus?

libnotify should be irrelevant if it has its own dbus implementation.

[2019-07-16 06:02] afk-mario commented on #642
I asked Cancel on the discord server and this was the reply, if dunst can't do anything about it then closing this would be alright, just wanted to make sure my config was ok

![image](https://user-images.githubusercontent.com/1025751/61269784-4143ab00-a765-11e9-8537-4078ed4aece9.png)

[2019-07-16 06:07] tsipinakis commented on #642
@afk-mario That clears things up thanks!

From a quick google search the spec they mention appears to be [this](https://standards.freedesktop.org/systemtray-spec/systemtray-spec-latest.html).

This is indeed not used by dunst. It looks like a fairly simple and straight forward spec but whether we should support that is up to debate. This is the first time I come across this.

[2019-07-16 08:00] bebehei commented on #642
I've seen this spec previously (because of another QT bug). Those "balloon messages" are actually messages, which are linked to the trayicon's position. They heavily use the context of the tray icon. The ballon messages were never designed to be a general notification.

It's not our job to implement this. It's the job of the DE's traybar to implement this.

[2019-07-16 08:03] tsipinakis commented on #642
That makes sense. I'll close this then.

[2019-07-16 08:03] #642 closed

[2019-07-24 06:37] Phantas0s commented on #45
I would love this feature as well. I miss many notifications since I have 3 screens.

[2019-07-24 14:13] xPMo commented on #575
[Alright, I went ahead and reported it to the bug tracker.](https://bugs.kde.org/show_bug.cgi?id=410161)

Perhaps there's no way to get notification sync without breaking the spec, since KDEConnect needs access to the notifications too.

[2019-07-26 23:21] ar013 commented on #395
I've had the same issue lately, playing around with different font sizes fixed it for me.

[2019-07-29 17:25] unwillexist opened #643 "Cannot connect to DBus."
- Version: Dunst - `A customizable and lightweight notification-daemon 1.4.0 (2019-03-30)`
- Install type: `package`
- Distro and version: ` FreeBSD 12-0 Release`

Dunst doesn't work on my fresh FreeBSD setup. I am getting this output.

[code]

[2019-07-29 17:48] tsipinakis commented on #643
Hi, dunst requires dbus to be installed and the `$DBUS_SESSION_BUS_ADDRESS` variable to be set. You should look at and follow your distributions documentation on setting that up

[2019-07-30 09:56] unwillexist commented on #643
Thank you, I just ran doas dbus-uuidgen --ensure and everything worked.

[2019-07-30 10:01] tsipinakis commented on #643
No problem, I'm not familiar with BSDs so I apologise for not being able to help you directly.

[2019-07-30 10:01] #643 closed

[2019-07-30 18:40] ivomac opened #644 "Add fullscreen as a global option"
Currently it is possible to change the fullscreen behaviour through rules, but there is no way to change the global behaviour. I am currently using this to use "pushback" for all notifications:
[code]
it would be nicer to just have a single line in [global]:

[code]

[2019-07-30 18:47] tsipinakis commented on #644
That's a good idea, there should be a default value for these in the global section.

For now to make your workaround shorter you can use a single rule with no match clause:
[code]

[2019-07-30 18:50] ivomac commented on #644
Didn't know that worked! Thanks for the short version.

[2019-07-30 22:00] bebehei commented on #644
Please not. Having rules is the best thing we have. Having "global" configuration options just introduce more complexity while being less flexible. The rules cover every possible configuration case perfectly.

It's just not reallly documented that "order makes a difference".

[2019-07-31 15:36] tsipinakis commented on #644
Interesting that you see it this way. In my mind rules are all about overriding a certain attribute for a specific group, but sometimes like here one wants to change the default value of everything.

The goto would be a section at the top like this:
[code]

Given that a lot of these, `frame_color`, `format` etc already do this if placed in the global section, why not expand that to `fullscreen`?

[2019-07-31 17:37] bebehei commented on #644
I thought our work was previously directed towards rules. We wanted to improve rules and even want to deprecate such global settings (see #328). A rule without a matcher is effectively a global setting. But in code, it's less complex.

The only point, we have to communicate in the docs: Order makes a difference there.

[2019-08-01 16:50] tsipinakis commented on #644
Indeed but the issue you link is about the `urgency_` sections, not about the global one. What you're suggesting is to split "global" settings like follow, geometry etc and per-notification ones into different sections, right? It does make a lot of sense to do that but currently we don't even have a "proper" issue to track this, no work has been done.

What I'm trying to say is that whatever the s

[2019-08-01 18:28] bebehei commented on #644
Indeed.

Just because I didn't implement it in my PR. :stuck_out_tongue_closed_eyes:

And I think the actual way to go, is simply deprecating `frame_color` inside the global section. In reality it's a per notification setting and not a global one.

Just see the following code. Do you know how it behaves? After about half a year abstinent, I still know, I've changed it, but I don't know my intentio

[2019-08-05 21:16] bebehei commented on #445
The server side is "finished". I dropped the C-client. @stunkymonkey will finish the client side. We've settled with Rust.

[2019-08-06 06:10] tsipinakis commented on #445
That's awesome, I've been trying to learn rust recently and this is yet another excuse to get to it.

Is there a repo set up somewhere for it? (Or are we putting it in here along with everything else?)

[2019-08-06 06:30] bebehei commented on #445
There is a project, but it's currently hidden and just for test usage.

Idk if we should put it into the main repo. We actually should be client agnostic and we're adding a shitload of compilation dependencies by choosing Rust. But on the other hand side, If we won't ship the client, nobody will ever use it.

[2019-08-06 07:40] Aeres-u99 commented on #63
As a workaround for now I am using `sudo pkill dunst` and then `dunst -config ~/.config/dunst/dunstrc &`

[2019-08-07 21:58] Stunkymonkey commented on #445
so the first prototype is working:
- [x] closing one notification
- [x] closing all notifications
- [x] redisplay notifications
- [ ] get data of notifications
- [x] open context menu
- [x] get status of dunst
- [ ] set status of dunst
- [ ] listen status of dunst

the error handling is done for arg-parsing, but not for dbus.

now we have to discuss where to put the code. yes it would add a lot of

[2019-08-07 23:23] Rodrigo-Barros opened #645 "There is a way to enable extglob in dunstrc file"
Hi, this is not a bug, just a question to know if is there a way to enable extglob in dunstrc file, I really would to know  how enable, I put an spefic sound for all notifications, but some apps have your own notification sound, and  when is a notification is fired for these apps play two songs at same time.

I trying to make of following way:

[code]
and do not works.

or who knows made a blackli

[2019-08-08 06:48] bebehei commented on #645
Firstly, we process the values of the rules via `fnmatch`. `man fnmatch(3am)`:

I'm not that familiar with AWK, but maybe you are able to do it. If successful, please report!

---

As a workaround, you could filter inside the script. Watch the parameters:

- `${1}`: The appname
- `${2}`: the summary
- `${3}`: the full body
- `${4}`: the icon
- `${5}`: the urgency level

With special foo, you could

[2019-08-08 06:53] bebehei commented on #445
Publish! publish! publish! :tada:

[2019-08-08 13:41] hbakken opened #646 "The timeout value in dunst wraps around"
dunst internally stores timeouts in microseconds, in a signed 32 bit integer, which wraps around at 2147484, which corresponds to ~40 minutes.  Having timeouts longer than that is not unreasonable, so the wrapping should be fixed.

notify-send -t 2147483 foo
will stay on the screen for 35 minutes, while
notify-send -t 2147484 foo
will use the default (for me, 10s)

### Installation info

- Version

[2019-08-08 14:41] tsipinakis commented on #445
Yay! I think it's ready for a published first version! :tada:

---

About where to put it, I don't have a clear opinion yet, I'll just put my train of thought based on the arguments mentioned so far here and wait some feedback before I solidify it.

If we put it in this repository:
* We'll be adding a ton of extra dependencies + a whole new compilation system for the rust crates which could annoy

[2019-08-08 15:13] Stunkymonkey commented on #445
I think this is the major disadvantage.

Do we really need alternative clients? The dbus interface would not be documented, but if someone needs access to it can be looked up through code. Mostly the feature-set would be the same in the end, because it is limited by the dbus methods and propertys.

[2019-08-08 15:17] bebehei commented on #445
To me, the second paragraph is absoultely new to me. I never thought about it this way. But it's actually  the absolute killer argument: **I don't want to document the DBus Interface and write a new API docs for it.**

[2019-08-08 15:49] tsipinakis commented on #445
That's a good argument indeed. However we should treat changes to the dbus interface as backwards incompatible to avoid affecting those that do want to use it.

[2019-08-08 15:53] bebehei commented on #445
Well yes, this is easy. We just have to proceed with our interface name. It's a common style to suffix the DBus Interface name with an incrementing number, starting with 0.

So, we just increment the number on backwards incompatible changes. And alternative clients will intentionally break until the breaking changes are considered.

[2019-08-08 19:04] tsipinakis commented on #646
I prompted @hbakken to created this issue after a short discussion about the issue on IRC.

What completely flew over my head in that discussion was that it was overflowing on the _32 bit_ boundary not the 64 bit one. After working that out it was dead simple to pinpoint this, and it got me wondering how I missed that in the review :man_facepalming:.

@bebehei Posting the patch here since you self

[2019-08-08 21:03] Stunkymonkey commented on #445
here it is my dummy [repo](https://github.com/Stunkymonkey/dunstctl)

[2019-08-09 01:38] Rodrigo-Barros commented on #645
@bebehei I am not familiar with AWK too, then I choose the second one, and the result was Great (at least untill now :) the most difficulty was choose which parameters to use for stop play the sound, And I almost forget thanks these tips help me a lot.

If anyone want make a similar feel free to modify my humbly script

[code]

[2019-08-09 05:49] bebehei commented on #645
Which dunst version do you use? 1.4.x or 1.3.x? Master?

[2019-08-09 06:03] bebehei commented on #646
Thanks for the hint. I would have searched pretty long. I'll write a DBus test for this probably.

[2019-08-09 12:50] adihrustic opened #648 "Unreadable characters in notifications"
### Installation info

- Version: `1.4.1 (2019-07-03)`
- Install type: `package`
- Distro and version: `4.19.62-1-MANJARO`
- Config file: [Link](https://gitlab.com/adihrustic/linux-config/blob/master/homedot/.config/dunst/dunstrc)

### Issue
My dunst notifications have stopped showing regular characters and are instead showing block symbols like this:
![pic](https://i.imgur.com/e4eO8Ie.jpg)

The i

[2019-08-09 13:29] #646 closed

[2019-08-09 13:43] bebehei commented on #648
It looks like your font system is fucked up and it doesn't even have a fallback. I've seen such rectangles, when an emoji or non-ANSI character was attempted to get displayed, but no font with support had been installed.

TBH, I don't see any relation to dunst. Dunst gives pango the font name and pango handles the rest. Are you sure, this font is installed properly on your system?

[2019-08-09 14:45] adihrustic commented on #648
Did a clean reinstall of fonts and its working as intended now. I suspect I forgot to kill the dunst process when falling back on preinstalled system fonts.

Closing.

[2019-08-09 14:45] #648 closed

[2019-08-09 14:58] progandy commented on #648
Such rectangles might also occur if you try to use bdf bitmap fonts with pango 1.44, This has been fixed in the development version of pango, which will reject such bitmap fonts now.

https://gitlab.gnome.org/GNOME/pango/issues/386

[2019-08-10 14:34] tsipinakis commented on #445
After taking some time to think about it I also support merging it in this repo, with all said above considered the main argument that made me solidify it is that most if not all users will want some type of shortcut to control dunst and given that we're [deprecating the keyboard shortcuts](https://github.com/dunst-project/dunst/issues/284#issuecomment-275913082) this will be the only way to do it

[2019-08-10 14:48] Stunkymonkey commented on #445
it is still a big question if settling with rust is the right idea. The little program i wrote works fine, but adds a lot of dependencies.

[2019-08-10 14:54] tsipinakis commented on #445
That's my one remaining concern, this looks like a very thin and simple client to warrant a new language and build tools.

@bebehei Why did you give up on writing the client in C in the first place?

[2019-08-10 14:56] Stunkymonkey commented on #445
maybe a bash script could be enough.
[code]
this can do the same thing my programm is doing

[2019-08-10 15:17] bebehei commented on #445
@tsipinakis I mainly gave up writing the client in C, because it's just overhead, overhead, overhead, overhead, overhead and then a few lines of code, which are actually crucial.

A few stats: In the dunstcmd branch, [I created the client files, which had ~500 LOC of C](https://github.com/dunst-project/dunst/compare/master...bebehei:dunstcmd). And I had only support for the status. @Stunkymonkey i

[2019-08-10 15:39] tsipinakis commented on #445
Ok, looking at the code myself now I have to agree that's a lot of overhead for little functionality. C is obviously way too much here.

I'd be hesitant to use bash because IMO it limits our ability to expand this out further if needed. The complexity of bash scripts tends to increase exponentially as features are added.

Like you, I'm also unsure of the language to choose now, python seems like a

[2019-08-10 16:06] BigfootN opened #649 "Disable history - only show one notification at a time"
Hello,

I am trying to disable the history. I would like to make a notification disappear if another appears, not having them both displayed, whether they are from the same group/application or not. Unfortunately, I didn't find any options related to what I am trying to achieve.

Hoping I was clear enough.

Thank you very much in advance.

[2019-08-10 16:09] tsipinakis commented on #649
I'm not sure what the use-case is for this as you'd miss a notification if two arrive at the same time.
That said you can probably force this to happen by assigning all notifications the same stack tag:
[code]

[2019-08-10 16:17] BigfootN commented on #649
Thank you for your quick answer.

It's mainly because when two notifications are displayed, there's a black block separating them and dunst saying:
`WARNING: Invalid color string: ''`

Thank you for your help

[2019-08-10 16:20] tsipinakis commented on #649
That sounds like a bug or a broken configuration. Could you post your dunstrc and maybe a screenshot of what it looks like?

[2019-08-10 16:21] Stunkymonkey commented on #445
i would still prefer posix-shell.
python is installed everywhere in a different version, which could lead to problems.

[2019-08-10 16:26] Stunkymonkey commented on #445
I am not sure if we will enhance it with many features in the future. The amount of keyboard shortcuts was also not increasing over time.
Right now I am writing a shell-script to show that is is not much needed.

[2019-08-10 16:27] BigfootN commented on #649
Thank your for your quick reply.

You can see the black block sperating them:
![2019-08-10-182418_324x203_scrot](https://user-images.githubusercontent.com/1183923/62824315-48ab7800-bb9c-11e9-81ee-7dd095dc9502.png)

Here is my config:
[code]

[2019-08-10 16:40] tsipinakis commented on #649
Well, apparently it's both!

It's a bug that if `separator_color` is unset it defaults to nothing. Your config is broken because you define the `[transient_history_ignore]` section in the middle of the global section, this invalidates all settings bellow that. You should move that bellow that, under the `urgency_` sections for example.

[2019-08-10 16:46] tsipinakis commented on #649
Oh also, that box is the separator, you have set `separator_height = 20` at the top of your config, which is why it's so big. Try lowering it to like 5 (pixels)

[2019-08-10 16:48] BigfootN commented on #649
Thank you, after having placed `[transient_history_ignore]` under the `urgency_` sections, it now works. But would it be possible to have the notifications placed underneath each other, independently, without having some colored block ?

Thank you very much in advance.

[2019-08-10 16:53] tsipinakis commented on #649
You mean having it be completely transparent? It can't be done currently. There has been some discussion about some ways this could be added but each has its own difficulties. See #180, #289

[2019-08-10 16:55] BigfootN commented on #649
Thank you very much. I understand.

Thank your for your time.

[2019-08-10 16:55] #649 closed

[2019-08-10 17:19] Stunkymonkey commented on #445
have a look at https://github.com/Stunkymonkey/dunstctl/blob/master/dunstctl

[2019-08-10 18:12] tsipinakis commented on #445
Huh, that managed to change my mind. I actually prefer that a lot more than anything else proposed until now.

If anything, it's just shell so we're not adding any extra dependencies - if we hit some issue we can always re-write it since it's that simple.

[2019-08-10 18:13] bebehei commented on #445
I've currently taken it under revision and pack it into my branch. A PR will follow probably tomorrow.

[2019-08-10 19:48] Rodrigo-Barros commented on #645
I'm using version 1.4.1 (2019-07-03).

[2019-08-10 21:36] bebehei commented on #645
Shit. After reading the [manpage](https://manpages.debian.org/buster/manpages-dev/fnmatch.3.en.html) more carefully, I see the problem. `!(pattern)` is a GNU extension and we disabled gnu extensions in #407.

[2019-08-11 21:42] foureyedengineer opened #652 "Couldn't start dunst via systemctl"
I've installed dunst and to test it I did the following command
`systemctl restart --user dunst.service`

However when I run that it gives me an error:
[code]
I looked at issue 347 but it looks like their errors are different from mine.

I should add that when I do send something manually:
`notify-send "test"`
It works fine but it doesn't seem to pop up any other time (when I download something fo

[2019-08-11 21:45] foureyedengineer commented on #652
I should add then when I do send something manually:
`notify-send "test"`

It works fine but it doesn't seem to pop up any other time (when I download something for example)

[2019-08-12 06:11] bebehei commented on #652
Which dunst version do you have? Which process has got the PID 17762? The NotifyOSD?

Either remove the specific notification manager package or use the FAQ entry ["How to switch back to notify-osd?"](https://dunst-project.org/faq/#how-to-switch-back-to-notify-osd).

But respect the following line:

[2019-08-12 06:15] tsipinakis commented on #652
[code]

From these I would assume it's dunst that's already running outside of systemd

[2019-08-12 21:38] bebehei commented on #645
@tsipinakis shall we enable the `_GNU_SOURCE` again while loading` fnmatch.h`?  I assume non-GNU systems, this won't change anything, but for GNU systems, we enable negative matching. (IMHO an important feature to have matching patterns).

[2019-08-13 13:49] tsipinakis commented on #645
I'm fine with that though it'll be a challenge on how to document that, a config file would work on one system but break on another depending on libc extension support - not exactly easy to debug from a user perspective.

[2019-08-13 20:22] foureyedengineer commented on #652
dunst is v1.4.1-1-g6c4eeda

I don't know how to change a ton of things since I am still kind of learning so I'll take a look at that link you sent me!

How can you tell? Not to be mean, just curious!

[2019-08-13 20:55] bebehei commented on #652
If you start dunst, It's configured to start listening on the DBus Name `org.freedesktop.Notifications` and grab the keyboard shortcut `ctrl+grave`. If you start a second dunst instance, it'll fail to listen on the DBus Name (as the first instance blocks the name) and it'll fail to grab the keyboard shortcut (as the first instance already grabbed the keyboard shortcut and only one process is allow

[2019-08-14 16:20] bebehei opened #653 "Pass variables as params"
I think we should pass the flags in the notification script as environment variables.

https://github.com/dunst-project/dunst/blob/53e7f3d16a747a778b7892a175c224d4c558b44e/src/notification.c#L123-L130

Enhancing this, is a PITA and doesn't scale. We also would allow passing flags (#639) and adding new fields would be easy to document and remove later.

It may be also a fix for #645, as you could e

[2019-08-14 16:23] tsipinakis commented on #653
Why the `help wanted` tag?

[2019-08-14 16:28] bebehei commented on #653
idk.

[2019-08-15 21:36] edn9 opened #654 "Bitmap font error"
Hello, i'm having some troubles with bitmap font, looks like no one is working. (I have tried tewi, gohu, cherry, etc).

![image of the bug](https://i.imgur.com/RYOAnG2.png)

### Installation info

- Version: Dunst - A customizable and lightweight notification-daemon 1.4.1 (2019-07-03)

- Install type: Package, `sudo xbps-install dunst`
- Distro and version: ` Void Linux 4.19.66_1`

[2019-08-15 21:50] bebehei commented on #654
Duplicate of #648, see the comment and the linked issue. https://github.com/dunst-project/dunst/issues/648#issuecomment-519951800

[2019-08-15 21:51] #654 closed

[2019-08-16 11:00] bebehei commented on #616
@tsipinakis Can we unpin this issue? Since it's fixed in 1.4.1 and almost all distros now either ship old 1.3.x or 1.4.1.

[2019-08-16 11:30] tsipinakis commented on #616
It's not fixed, that's a side-effect from #497 which was us going against the spec, for better or for worse I didn't revert that. It wasn't caught until the 1.4.0 release and given the choice between re-introducing a problematic behaviour for all clients and fixing an accidental backwards incompatible change, I chose to hold off.

Honestly, I'm not really satisfied with any of the workarounds offe

[2019-08-18 18:08] Legogris commented on #632
Sorry for late reply.
Sent notification with `notify-send hej`:

[code]

[2019-08-22 13:19] mithodin opened #657 "timeout beyond ~10 minutes does not work"
I'm trying to have a notification time out at n minutes by calling `notify-send -t $(( 60000*$n )) "some message"`. This works correctly for n <= 10, but fails for n >= 15 (I could pinpoint it further if neccessary) in the sense that the notification just keeps showing after the supposed timeout.

I have checked with dbus-monitor, and the transmitted information seems correct in all cases, so I su

[2019-08-22 13:29] bebehei commented on #657
We had a similar bug 2 weeks ago. Does the current master work? (PR #647 fixed it).

What does `dunst -print` say when running dunst on the command line. and sending a notification in parallel?

[2019-08-22 13:34] mithodin commented on #657
[code]
with both 1.4.1 and master. But I'll test with master to see whether it is already fixed.

[2019-08-22 14:00] mithodin commented on #657
Problem remains in master.
![timeout](https://user-images.githubusercontent.com/3817786/63520974-e20c4f80-c4f5-11e9-810c-6c53f2c1d056.png)
11:30 is okay, 12:00 and up are broken.

[2019-08-22 14:16] tsipinakis commented on #657
Could you post the dunstrc you're using?

Mind the idle_threshold value, if that's enabled and dunst detects you're idle the timeout timer will restart.

[2019-08-22 14:19] mithodin commented on #657
Oh, that might be the reason. I have copied the default configuration and the idle_timeout was set to 120. Will test again.

[2019-08-22 14:58] mithodin commented on #657
Nope, even with idle_threshold = 0, no timeout >= 11.9 minutes works.
![timeout](https://user-images.githubusercontent.com/3817786/63525512-1dab1780-c4fe-11e9-8cb0-5db3400b12a0.png)

[2019-08-22 15:44] mithodin commented on #657
Got it down to the milisecond: -t 709821 works, -t 709822 does not.

[2019-08-22 15:51] tsipinakis commented on #657
I can't reproduce this locally from the tests I ran (another one is running right now - with the cycle time of this it's hard to pinpoint).

So, let's get to debugging:

1. Can you paste the dunstrc you're using if it differs from the default? (Keep in mind the settings hardcoded in dunst can be slightly different from the ones in the default

2. Please build and reproduce the issue with [this bra

[2019-08-23 08:14] mithodin commented on #657
I have been able to capture output when the bug was triggered.
[dunst.log](https://github.com/dunst-project/dunst/files/3533486/dunst.log)
and here is my dunstrc:
[dunstrc.txt](https://github.com/dunst-project/dunst/files/3533489/dunstrc.txt)

[2019-08-23 08:15] mithodin commented on #657
Oh, and it is somehow still triggered by idling. If I am reasonably active during the timeout, it does not trigger.

[2019-08-24 05:45] tsipinakis commented on #657
Were these notifications shown the entire time? Logs show the `14 minute` and `15 minute` ones were held in the waiting queue (not displayed, or `2 more` shown).

The timer doesn't tick while the notifications are hidden.
For reference the `14 minute` notification was sent at `171629176700`, started being displayed but when the `15 minute` one arrived they were both pushed into waiting as dunst ra

[2019-08-24 12:56] mithodin commented on #657
okay, that must be the reason then. I guess you can close this issue, I will report back if I end up triggering it again at some point.

[2019-08-24 12:56] #657 closed

[2019-08-26 08:09] bebehei commented on #657
I think those calls cover mainly the stuff, what a debugger should be used for. Using such verbose "comments" blow up the code, amount of logs used and cover only a small use case. I'm not that convinced to be a good idea.

[2019-08-26 10:27] tsipinakis commented on #657
True, this will mostly be useful to address the case of remote debugging where neither of us can reproduce the issue, such as this or #620. And as you mentioned can be useful as "comments" as well.

If you're worried about performance we could compile these out in release builds.

[2019-08-30 19:10] rudevdr opened #658 "applying `new_icon` to one rules changes for all"
I was looking to disable icon for all application, except one. I was looking to set `icon_position` via rule but its not available (relevent issue: https://github.com/dunst-project/dunst/issues/638).  I tried to get workaround the issue by setting `icon_position = left` in `global` and use `new_icon` in rules. Then I caught this issue.

My `dunstrc` is something like this.

[code]

## Expected Beh

[2019-08-30 19:17] rudevdr commented on #638
+1.

This seems very useful feature. More settings should be accessible from rules like `geometry`, `frame_width`, etc.

@donbex How can we change` icon_position` via script? I am not sure if it's possible.

@tsipinakis Unfortunately, this workaround [doesn't work](https://github.com/dunst-project/dunst/issues/658) for me.

[2019-08-30 19:35] tsipinakis commented on #658
This is working as intended. Rules do not override each other and are checked independently. So in this case what happens is
* All notifications with `appname = myapp` have their timeout set to 0
* All notifications have their icons disabled

Unfortunately I don't think there are any workarounds to achieve this currently, at least without listing all appnames. For a proper solution subscribe to #6

[2019-08-30 19:37] tsipinakis commented on #645
As mentioned in #658, this works for scripts but not for any other attributes like overriding the icon. Given the usefulness I now think it's worth the trouble to enable GNU extensions just for `fnmatch`.

I'll look into it tomorrow.

[2019-08-30 21:51] rudevdr commented on #658
Ah, I get it now. Thanks for explaining.

As you mentioned in #645, `fnmatch` would solve this issue. I could change to:

[code]
and this will solve this issue.

But still it will be a workaround. Implementing solution mentioned in #638 would be perfect solution for this workaround.

I will close it once `fnmatch` is supported. But if you think it should be close, please go ahead and close it.

[2019-09-03 17:20] Legogris commented on #632
Me and @Ryuuji159 have the exact same pattern here.

Let me preface this by saying my understanding of DBus is very limited, but I can kind of see what's going on here:

* First we have a destination/source appearing (in my case `:1.144`). It starts `org.freedesktop.Notifications` and communicates fine.
* A `Notify` event is sent.
* Right after, `1:144` crashes/loses connection (indicated by `Name

[2019-09-03 17:28] tsipinakis commented on #632
I don't think this is an issue with dbus, if anything it would be on the dunst->X11 interaction side.

The log @Ryuuji159 provided seems normal, I asked for it in an attempt to reproduce this but haven't managed to still. The error you're seeing is most likely because you're using `dunstify` or `notify-send` to send a notification - then when that notification is closed dunst tries to tell the cli

[2019-09-03 17:56] Legogris commented on #632
Actually, I think I may have figured it - had somehow missed the [FAQ](https://dunst-project.org/faq/) and I now realized I had more than one initialization of dunst. For as long as I can remember, I have just started in in my `.xinitrc` but now it turns out I have a file under `/usr/share/dbus-1/services/org.knopwob.dunst.service`. Killing the one from my `.xinitrc` fixed it, will see if it's goo

[2019-09-04 11:56] tsipinakis commented on #632
Huh that's weird. I'd appreciate it if someone else can also confirm this is the case. Ping @personinblack, @ElieLP.

This strikes me as weird because under normal circumstanced dunst will refuse to start if another notification daemon is running on the same bus. Do you have two dbus instances running by any chance?

[2019-09-04 15:39] remolueoend opened #660 "Close notification when default action has been executed"
Hey everyone, first of all thanks for the great work on dunst!

After playing around with the config I realized that notifications do not get closed after one of their actions get executed (either via dmenu or mouse button). Is this intentional? My C skills are - nicely said - nonexistent, but I've looked through `menu.c::invoke_action` and `dbus.c::signal_action_invoked` and was not able to find

[2019-09-05 11:02] tsipinakis commented on #660
Closing a notification has the side-effect of notifying the sender that it was dismissed, which in most cases causes it to stop listening for further actions. This is why we don't allow actions to be called from notifications in history.
So implementing this would mean you can't perform two actions on the same notification.

And in any case, closing a notification is always a single keystroke away

[2019-09-05 17:21] bebehei commented on #660
@tsipinakis I guess there is a specific problem. And the problem is, that an "activated" notification didn't get closed.

I've learned, that notifications aren't invalidated by the standard and dunst hasn't got such a thing. I've had a hard time searching for it in the code. But no, dunst doesn't close any notification, which it sent an `ActionInvoked` signal for. So, technically @remolueoend is r

[2019-09-05 19:52] Legogris commented on #632
Good question - I don't *think* I am:
[code]

[2019-09-06 10:34] remolueoend commented on #660
Thank you both very much for the detailed explanations, looks like I haven't really understood who is responsible for the notification and how the communication works between sender and dunst. Great to know!

@bebehei I checked and it indeed looks like the clients are "misbehaving", checked for both Slack and whatsapp-nativefier (both Arch AUR packages). They do not close their own notification (b

[2019-09-06 10:34] #660 closed

[2019-09-12 21:06] niksfirefly opened #661 "Resize notification on the fly?"
Is there any  possibility to resize notification on the fly when they appear?
Make bigger or smaller depending for example
time or key send via xdotool

regards

[2019-09-15 12:41] #661 closed

[2019-09-15 16:45] tsipinakis commented on #632
Well the first two dbus processes in that output are the usual ones - the systemwide bus and the user (session) bus respectively.

I'm not sure what that third process is - something from gnome probably.

Since no one else has responded by now I'll assume it's solved.

[2019-09-15 16:45] #632 closed

[2019-09-15 16:46] tsipinakis commented on #632
Oh, if it _does_ re-occur to anyone please do comment and I'll re-open this.

[2019-09-16 12:29] didiksupriadi41 opened #662 "Markup doesn't work when message contains "&" (ampersand) symbol and some others"
Dunst markup is not working when the messages contain "&" symbol.
there might be other symbols that potentially cause the same error.
Can be reproduced with `notify-send` command and `dunst` installed.

Reproducible: Always

Steps to Reproduce:
1. For simple setup, write `format=%s: %b` in dunst configuration file
2. Restart dunst, `killall dunst; dunst`
(or just `killall dunst` if it's the only n

[2019-09-16 12:53] tsipinakis commented on #662
See #546, #616

This issue was basically fixed in #546. Later we disabled markup support in the summary (first part of the message) entirely as it turns out it's not really supported by the notification spec and having it enabled broke some clients with issues similar to this.

Upgrading to 1.4.0 should fix the issue (but sadly will also mean no markup support in the summary)

[2019-09-16 12:53] #662 closed

[2019-09-16 13:21] didiksupriadi41 commented on #662
Ah, I see.
I hope it has workaround to replace html markup some day.

[2019-09-22 19:18] boundless-thread commented on #445
It would be useful if we could get the number of notifications received for when dunst is muted.

[2019-09-25 13:28] oltodosel opened #663 "Feature Request: show notification only in background at urgency_minimal."
At urgency_minimal notifications would be visible only on desktop if there's no window over it.

[2019-09-26 19:31] tsipinakis commented on #663
I'm not sure that this would be worth implementing considering the effort it would take.

We'd need to somehow detect if there's a window on the desktop (we already had enough issues with checking for fullscreen windows). And there are are edge cases like figuring out what happens on non tiling window managers.

There's a similar feature implemented that can hide some notifications based on if you

[2019-09-27 06:14] oltodosel commented on #663
Wanted it for watching progress of some cron jobs.
Will implement it via conky.

[2019-09-27 06:14] #663 closed

[2019-10-03 01:31] rosoau opened #664 "Create a Configuration Window"
Hi
This is not an issue but a suggestion. I use zenity to show and edit dunstrc:

[code]

The icon and path is unique for my system, you will have another one
Closing or cancelling the window would produce an empty file: dunstrc-new
and then it would replace the original with a 0 Byte file. That's why we need the if and -s etc. and now this works well. File gets only moved if it has size "-s" but

[2019-10-03 01:38] rosoau commented on #664
The text on the forum fattened up for some strange reason. I attach the actual file instead
[dunstrc-config.zip](https://github.com/dunst-project/dunst/files/3684110/dunstrc-config.zip)

[2019-10-03 09:29] tsipinakis commented on #664
I fixed the formatting for the code you pasted above.

That's useful for someone who's constantly updating their configuration but I suspect most users, like me, use dunst in a "set and forget" way. i.e. Once setup the configuration is rarely updated, if ever.

Additionally, everyone has different preferences in regards to the editor they use or how they edit configuration files, in my opinion the

[2019-10-03 09:29] #664 closed

[2019-10-04 19:02] mjsir911 opened #665 "SIGCONT / SIGTSTP handling"
Hello,

Currently to pause and resume `dunst` is SIGUSR1 (pause) and SIGUSR2 (resume)

I greatly appreciate this feature, but I believe the signals `SIGTSTP` (keyboard stop) and `SIGCONT` would be better suited for this task.

I don't really have a user story for this, but I could imagine tools would be able to take advantage of this more semantically correct signal handling.

Current behaviour of

[2019-10-05 10:51] bebehei commented on #665
`SIGUSR*` and `SIGTSTP`/`SIGCONT` signals differ in a simple and easy way.

- `SIGUSR*`: User defined signal, does whatever the process wants to do. If used, always documented. For server daemons, it's most often re-reading the configuration file. We at dunst use it to start/stop _the functionality_ and start/stop displaying notifications.

- `SIGTSTP`/`SIGCONT`: This is necessary for job control.

[2019-10-05 12:14] mjsir911 commented on #665
Alright, thanks for your consideration.

Have a nice day

[2019-10-05 12:14] #665 closed

[2019-10-11 16:30] catzybluphish opened #667 "HTML markup doesn't work with notify-send"
If I was to run `notify-send "<span color='#ffffff'>File(s) moved /tmp</span>"` in the terminal, it would show that literal text as if markup is disabled, which is actually set to full in my config. Apparently notify-send commands work with markup within them, but I'm not sure. If they don't, is there a workaround instead of directly editing the format setting in the config (which I want to keep f

[2019-10-11 16:37] tsipinakis commented on #667
Hi,
This is a duplicate of #616, please move discussion about it there to avoid having multiple issues. The notification spec didn't 'officially' support markup in the body which ended up breaking many clients. There are a few workarounds mentioned in that issue such as using the body (e.g. `notify-send "-" "<span color='#ffffff'>File(s) moved /tmp</span>"` but I'm open to any ideas on how to impr

[2019-10-11 16:37] #667 closed

[2019-10-16 15:15] lampenhauser opened #668 "dunstify --replace broken?"
Dunstify's --replace option does not seem to be working for me. I can't close or replace messages. I tried to check using -r and -p together. In that case it should print the ID i plugged in with the -r option, right?

### Installation info

- Version: `Dunst - A customizable and lightweight notification-daemon 1.4.1 (2019-07-03)`
- Install type: `package`
- Distro and version: ` manjaro`

[2019-10-16 15:24] tsipinakis commented on #668
Just tested it and it works fine on my end, could you be more specific with what's not working?

I did this:
[code]

[2019-10-22 14:52] tsipinakis commented on #668
ping @lampenhauser?

[2019-10-25 03:32] rosshadden opened #669 "Custom global actions"
Is there a way to add a custom global action that would be present in all notifications? I would like to add a `copy` action which would copy the text of the notification to my clipboard. For notifications created by me I would be able to specify a script and add this action, but most notifications on my system are not initiated by me.

[2019-10-26 15:36] tsipinakis commented on #669
Hi, this is not possible as actions are something the client (read: the program that sent the notification) does, the logic isn't being run on dunst, we only send back the action that was chosen.

However it might be a good idea to consider custom "actions" which in reality are scripts which are called in similar way to the `script=` directive in dunstrc. I'll leave this open for discussion as a f

[2019-10-30 21:18] jestarray opened #670 "Change default history binding"
Running on: Arch Linux i3wm

control+grave is a hotkey for opening a terminal in vscode and for an entire year I actually never noticed dunst was taking control of it because I never had previous notifications in history while using vscode at the same time so it never popped up until now.
You can close this issue if you don't want to change the default history binding but maybe have a dummy notifi

[2019-11-01 07:15] tsipinakis commented on #670
Ouch, same issue for emacs as reported in #138 .

Built-in keybindings are on the way out with #651 (whenever that gets merged) so they'll be removed entirely soon, I'll keep this open as a note until it's complete.

[2019-11-06 15:07] marcosnils opened #671 "[QUESTION] - Switch to urgent workspaces with dmenu"
TL;DR: How to automatically switch to urgent workspace with dunst - dmenu feature.

First of all thanks for taking the time to maintain this project and provide such an amazing tool. I have a question regarding the `dmenu` option for some notifications. Some apps like Slack and Chrome send a notification with an action that allows the WM to focus on the window. When I use dmenu with a `dunst` noti

[2019-11-06 15:41] tsipinakis commented on #671
I'm curious about what's happening here as well as I've observed the same behaviour. In any case, actions are something the sender is responsible about doing - we only relay the name of the action that was chosen back to the sender.

I'm pretty sure this isn't on the dunst side (unless dmenu is interfering with the workspace switch somehow?)

[2019-11-12 23:35] Jonathas-Conceicao opened #672 "dunstify hangs indefinitely when using Action and get replaced"
If dunstify is called with Action, and is then replaced by some new notification, the first call will then be left hanging indefinitely. e.g:

Form shell 1:
`dunstify -r 313 "Testing" -A 'tested,default'`
After that, from a new shell:
`dunstify -r 313 "New Test"`

The call on shell 1 will never finish. However If a `-C 313` is used before sending the second notification, the first call to dunstify

[2019-11-13 19:19] tsipinakis commented on #672
It's sadly an unfortunate side effect of how replacing is being done.

It might seem logical that if a notification is replaced we should notify the first sender that it was closed.

However, as I read this feature of the [notification spec](https://developer.gnome.org/notification-spec/#commands) it's meant to be used within the same program to update an existing notification, which would lead to

[2019-11-14 16:25] progandy commented on #672
doesn't dbus identify the sender? Maybe store that in the notification structure and only send the close event when it differs?

[2019-11-15 20:21] tsipinakis commented on #672
Technically it's possible, but I would classify it into the 'ugly hack' category and be very hesitant to merge that into the main tree as we're stepping on the lines on what's properly defined and not so it could lead to some very confusing behaviour down the road.

---

This specific behaviour aside, what's the use-case you're actually trying to accomplish here, are you aware of `stack_tag` (some

[2019-11-15 20:30] progandy commented on #672
True. I think even the ability to replace or close notifications that were created by a different client is on that line.

[2019-11-15 21:13] tsipinakis commented on #672
Indeed this would fit right into dunsts id handling which is why I didn't dismiss that idea.

Dunst has always handled ids weirdly deviating a bit from the spec. i.e in the spec it's not allowed to use `replaces_id` for anything other than replacing an existing, _active_ notification.
In contrast, dunst will allow clients to arbitrarily choose the id they want allocated by setting `replaces_id`, w

[2019-11-19 11:32] Jonathas-Conceicao commented on #672
I have a script that send notifications with music lyrics stanza by stanza and I use Actions to pass through them. I eventually noticed some calls to dunstify were hanging indefinitely when a new music on spotify started and the notification for the new song replaced the old one.

I have had a quick look on it when I was writing my script, but as replacing seamed easier to use and I though it woul

[2019-11-20 09:47] ShawnMcCool commented on #392
This would be a fantastic feature for SVG as so many laptops have higher resolutions now. Dunst renders svg icons very small and I can't find a way to make them larger.

[2019-11-20 16:43] ahjstone opened #673 "frame_color issue"
~/.config/dunst/dunstrc

[global]
separator_height = 5
separator_color = auto / frame   # same result with the 2 options

When setting a different frame_color in the [global] and [urgency_low/normal/critical] sections, and issuing a series of notifications with:

notify-send [-u low/normal/critical] "123" "ABC"

only the first notification's frames (top, bottom, left, right) are displayed with the

[2019-11-20 16:58] tsipinakis commented on #673
I'm not sure I understand what the issue is here.
Could you post your full dunstrc, what color are you seeing and what are you expecting to see?

[2019-11-21 13:25] ahjstone commented on #673
(edited a typo in the first post).

I'm expecting each notification to be displayed with its 4 border's dedicated frame_color.

[dunstrc.txt](https://github.com/dunst-project/dunst/files/3874832/dunstrc.txt) (added the txt suffix to upload the file)

separator_color = auto
![dunst-notif-auto](https://user-images.githubusercontent.com/6587029/69341457-e3225980-0c69-11ea-837e-0c25fc373139.png)

sepa

[2019-11-25 00:23] Jonathas-Conceicao commented on #672
I'll be closing this since replace doesn't send a close to the old notification by design and the desired behaviour can be accomplished by using stack_tack.

[2019-11-25 00:23] #672 closed

[2019-11-25 06:00] xkr47 commented on #392
I got my branch (which I still use) updated to the latest master a few days ago, but I haven't really tested the DPI based proposals suggested here. Here's the current version for those that want it.. https://github.com/xkr47/dunst/commit/16fc3b2fde604482eba8b6c6dc3c320960595399

[2019-11-25 09:32] beef331 commented on #625
The most compelling case for this is when recieving whole code blocks in a single message from discord or other messenger. Takes up the entire 1080p's vertical height.

[2019-11-26 08:25] tsipinakis commented on #625
That makes sense. Have you tried using `geometry` and `shrink` to restrict notification size or is there a reason it doesn't work?

[2019-11-26 08:30] tsipinakis commented on #392
@xkr47 I'm not sure at what size gdk loads svgs by default but from what you're doing there might be quality loss when upscaling the loaded svg since it's converted to bitmap.

If you'd like to prepare it for a proper PR/merge then you can use [`gdk_pixbuf_new_from_file_at_scale`](https://developer.gnome.org/gdk-pixbuf/stable/gdk-pixbuf-File-Loading.html#gdk-pixbuf-new-from-file-at-size) in `get_p

[2019-11-26 09:29] tsipinakis commented on #673
I just got some time to test this and now I get what you mean. `separator_color = frame` will use the color of the topmost notification.

It's not really a bug but a hastily made compromise for code clarity. I'm open to adding an option of using half the separator for the top notification frame color and the other half for the bottom one as I think you expect it do.

[2019-11-26 20:29] beef331 commented on #625
I honestly have very little idea how to properly customize dunst, but i did try shrink and the geomety.
[code]
Results in
![image](https://user-images.githubusercontent.com/11792483/69670261-bea2f480-1050-11ea-90a0-ecb28c1082d5.png)

[2019-11-27 17:24] ahjstone commented on #673
How about making it a real separator, like:

|............................................................|
|.................upper notification................|
|............................................................|
|--------------- bottom border  --------------|
------------------ separator ------------------
|------------------ top border  ----------------|
|............................

[2019-11-28 12:48] xkr47 commented on #392
wouldn't it make sense to do both up & downscaling using that method then?

[2019-11-29 06:17] xkr47 commented on #392
Ok looking at the code I see I misunderstood your point a bit.. but `icon_pixbuf_scale()` is used also from `notification_icon_replace_data()` when image pixels are embedded in the notification message, like spotify for example does with music album images. In this case up & downscaling is still needed.

So I think the best result would be keeping my code and also use the `gdk_pixbuf_new_from_file

[2019-11-29 08:29] tsipinakis commented on #625
You're right, I tried a few combinations and there doesn't seem to be a way to set a hard limit. `word_wrap = no` would achieve this but then you're limited to a single line.

I'd be open to implementing this but in my opinion this should be in the form of a `max_height` and not a character limit, to fit with the plans in #336 , and to avoid variables like font size and spacing.

[2019-11-29 08:35] beef331 commented on #625
Max height would be a nice solution, I would like it to add a trailing elipsis if at all possible, but that's up to you if you wish.

[2019-11-29 08:41] tsipinakis commented on #625
There's already the `ellipsize` setting for adding ellipsis when the notification is truncated (currently only happens when `word_wrap` is off).

So this would ideally work in the same way

[2019-11-29 08:42] tsipinakis commented on #392
I forgot about that detail, you're right.

This sounds good to me, if you can add that and submit a PR I'll merge it.

[2019-11-29 08:50] #668 closed

[2019-12-05 08:39] snowman opened #675 "would you mind to share your polybar config @(:<"
![](https://dunst-project.org/static/image.png)

[2019-12-05 14:40] tsipinakis commented on #675
Hi, that screenshot was added by @Eizen who hasn't been active in a long time. Your best bet would be to send him an email (you can get his address from the commit logs).

[2019-12-05 14:40] #675 closed

[2019-12-06 04:48] snowman commented on #675
[code]

[2019-12-08 23:03] snowman opened #676 "No icon found warning"
### Installation info

- Version: `Dunst - A customizable and lightweight notification-daemon 1.4.1 (2019-07-03)`
- Install type: `sudo pacman -S dunst`
- Distro and version: `Linux USER_NAME 5.4.1-arch1-1 #1 SMP PREEMPT Fri, 29 Nov 2019 13:37:24 +0000 x86_64 GNU/Linux`

### Steps
1. `$ dunst -print`
2. `$ dunstify -i audio-volume-muted "Volume muted"`
3. Output of dunst
[code]
4. dunstrc settings

[2019-12-08 23:44] snowman commented on #676
![2019-12-09-074232_1920x1080_scrot](https://user-images.githubusercontent.com/16096559/70398547-960af980-1a57-11ea-9f0c-878d779bcb87.png)

[2019-12-09 08:25] tsipinakis commented on #676
This is a side-effect of the fact that we don't do proper parsing of the icon theme cache but rely on directory searches.

However, for me (on Debian 10), `audio-volume-muted.png` also exists which makes this work as intended. Why doesn't that file exist on Arch?

[code]

[2019-12-09 11:38] snowman commented on #676
Okay, I find out where the bugs come from.

I follow [Dunst - ArchWiki](https://wiki.archlinux.org/index.php/Dunst#Icon_sets), but the `audio-volume-muted` icon do not include in the path `/usr/share/icons/Adwaita/16x16/status/`.

[code]

so in your `.dunstrc` config put those lines instead:
[code]

[2019-12-09 11:38] #676 closed

[2019-12-13 00:43] indeedwatson opened #677 "Icon won't display"
[code]

The app is [cordless](https://github.com/Bios-Marcel/cordless), a terminal client for Discord. Is the matching failing because it's a terminal program?

[2019-12-13 08:43] tsipinakis commented on #677
Should be `new_icon`, one of the many pitfalls of our inconsistent rule naming :/ .

PS: %i is the icon path, not the icon itself. To show the icon set `icon_position` to `left` or `right`.

[2019-12-13 12:26] indeedwatson commented on #677
:/ indeed! What's the logic?

Sadly still doesn't seem to work with `new_icon`.

[2019-12-13 16:03] tsipinakis commented on #677
`icon` is for matching notifications that use a specific icon `new_icon` is to override it. #349 Is an attempt to make it more consistent but there hasn't been any progress on it, yet.

---

My own test case works, i.e.
On `1.4.1` with the default dunstrc with
[code]
Test notification sent with `notify-send -a cordless Test`.

Can you try the `notify-send` call yourself? If it still doesn't work p

[2019-12-13 16:38] indeedwatson commented on #677
`dunst -config {your config} -print`

This was very helpful for debugging, turns out I had to use `summary = Cordless*` instead of `appname`. Thank you.

[2019-12-13 19:22] ismig commented on #509
I find the (AU) fairly distracting. It's so large it dwarfs the appname of my notifications, which is deliberately small and grey.
Small icons would be less distracting and easier to interpret -- maybe the link icon and something else for actions (a hammer? lol). Or just a custom format string.

[2019-12-18 14:12] xkr47 commented on #392
@nikarh @ShawnMcCool this feature is now merged to master! Look out for the next release for some scaling goodness! :)

[2019-12-29 13:53] ShawnMcCool commented on #392
Hey thanks so much.

On Wed, Dec 18, 2019 at 3:12 PM Jonas Berlin <notifications@github.com>
wrote:

[2020-01-06 04:05] Rufflewind opened #678 "Dunst disappears when I move/resize a floating window in XMonad"
I'm using XMonad as my WM.  Repro steps:

1. Start XMonad.

2. Open two windows: one a terminal, and the other Chromium.  Make sure they are both tiled.

3. Click `[Mod] + [Left mouse]` to convert Chromium into a floating window.  The terminal should stay tiled and should now occupy the whole screen, but partially obscured by Chromium.

4. Send a non-expiring notification via `notify-send -t 0 hi`

[2020-01-06 10:19] tsipinakis commented on #678
Reproduced, thanks for the detailed report!

I'm also unsure as to which side the bug is at here. Dunst tries to raise itself whenever it detects that it's being obscured by some windows, however after making the logic of whether it should raise itself more aggressive what ends up happening with xmonad is that the browser and dunst simply fight over who's going to be on top, and the result is a fl

[2020-01-10 20:23] brettinternet commented on #163
For anyone that has landed here via search, this is very possible through simple scripting via `dunstify`.

When using `--action`, `dunstify` will either return the action name you specify or a number. The number adheres to the [Notification spec](https://developer.gnome.org/notification-spec/#signals), so if `1` is returned, the notification expired and if `2` is returned then the notification wa

[2020-01-10 20:48] tsipinakis commented on #163
Thanks the addition!

Some additional things that could work for this:
You can use `do_action` (bound to middle click by default, can be changed to either left or right in the config) paired with an action named `default` which will avoid showing dmenu.

[2020-01-10 20:54] brettinternet commented on #163
@tsipinakis That's even better! Then you can differentiate when a shortcut dismisses the notification and when the notification is clicked. Thank you.

[Here's how to customize mouse actions in `dunstrc`](https://github.com/dunst-project/dunst/blob/master/dunstrc#L237).

[2020-01-10 21:12] tsipinakis commented on #678
I've opened xmonad/xmonad#208 to get the opinion of the xmonad devs.